openapi: 3.1.0
info:
  title: MD-Takt API
  version: 0.1.0
  description: API zur manuellen Umlauf-Rekonstruktion für Magdeburger Straßenbahnen (MVB).

servers:
  - url: https://api.mdtakt.strassenbahn-magdeburg.de
    description: Production
  - url: http://localhost:8000
    description: Local

components:
  securitySchemes:
    CollectorToken:
      type: http
      scheme: bearer
      description: Statischer API-Key für Collector-Endpunkte
    AdminToken:
      type: http
      scheme: bearer
      description: Laravel-Sanctum-Token (Admin-Schaltzentrale); via POST /api/v1/admin/login erhalten

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
            message:
              type: string

    GtfsRoute:
      type: object
      required: [route_id, route_short_name, route_type]
      properties:
        route_id: { type: string }
        route_short_name: { type: string }
        route_type: { type: integer, description: "GTFS route_type; 0 = Tram, 3 = Bus (alle MVB-Verkehrsmittel)" }

    GtfsStop:
      type: object
      required: [stop_id, stop_name]
      properties:
        stop_id: { type: string }
        stop_name: { type: string }
        lat: { type: number, nullable: true }
        lon: { type: number, nullable: true }

    GtfsTrip:
      type: object
      required: [trip_id, route_id, service_id]
      properties:
        trip_id: { type: string }
        route_id: { type: string }
        service_id: { type: string }
        block_id: { type: string, nullable: true }
        direction_id: { type: integer, nullable: true, enum: [0, 1] }

    GtfsStopTime:
      type: object
      required: [trip_id, stop_id, stop_sequence]
      properties:
        trip_id: { type: string }
        stop_id: { type: string }
        arrival_time: { type: string, nullable: true, description: "GTFS-Zeit HH:MM:SS, kann > 24:00:00 sein" }
        departure_time: { type: string, nullable: true, description: "GTFS-Zeit HH:MM:SS, kann > 24:00:00 sein" }
        stop_sequence: { type: integer }

    GtfsCalendar:
      type: object
      description: "GTFS calendar.txt — reguläres Wochenmuster der Betriebstage"
      required: [service_id, monday, tuesday, wednesday, thursday, friday, saturday, sunday, start_date, end_date]
      properties:
        service_id: { type: string }
        monday: { type: integer, enum: [0, 1] }
        tuesday: { type: integer, enum: [0, 1] }
        wednesday: { type: integer, enum: [0, 1] }
        thursday: { type: integer, enum: [0, 1] }
        friday: { type: integer, enum: [0, 1] }
        saturday: { type: integer, enum: [0, 1] }
        sunday: { type: integer, enum: [0, 1] }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }

    GtfsCalendarDate:
      type: object
      required: [service_id, date, exception_type]
      properties:
        service_id: { type: string }
        date: { type: string, format: date }
        exception_type: { type: integer, enum: [1, 2] }

    GtfsFeedInfo:
      type: object
      description: "Optionaler Feed-Datenstand aus feed_info.txt"
      properties:
        feed_version: { type: string, nullable: true }
        feed_start_date: { type: string, format: date, nullable: true }
        feed_end_date: { type: string, format: date, nullable: true }

    ImportStartRequest:
      type: object
      description: >
        Startet einen Import-Lauf mit den Basistabellen (ohne stop_times).
        Body darf gzip-komprimiert gesendet werden (Header `Content-Encoding: gzip`).
      required: [routes, stops, trips, calendar_dates]
      properties:
        routes: { type: array, items: { $ref: '#/components/schemas/GtfsRoute' } }
        stops: { type: array, items: { $ref: '#/components/schemas/GtfsStop' } }
        trips: { type: array, items: { $ref: '#/components/schemas/GtfsTrip' } }
        calendar: { type: array, items: { $ref: '#/components/schemas/GtfsCalendar' } }
        calendar_dates: { type: array, items: { $ref: '#/components/schemas/GtfsCalendarDate' } }
        feed_info: { $ref: '#/components/schemas/GtfsFeedInfo' }

    StopTimesChunkRequest:
      type: object
      description: >
        Ein Chunk an stop_times für einen laufenden Import.
        Body darf gzip-komprimiert gesendet werden (Header `Content-Encoding: gzip`).
      required: [stop_times]
      properties:
        stop_times: { type: array, items: { $ref: '#/components/schemas/GtfsStopTime' } }

    GtfsImportRun:
      type: object
      required: [id, status, started_at]
      properties:
        id: { type: integer }
        status: { type: string, enum: [running, success, failed] }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
        feed_version: { type: string, nullable: true }
        feed_start_date: { type: string, format: date, nullable: true }
        feed_end_date: { type: string, format: date, nullable: true }
        counts:
          type: object
          nullable: true
          properties:
            routes: { type: integer }
            stops: { type: integer }
            trips: { type: integer }
            stop_times: { type: integer }
            calendar_dates: { type: integer }
        error_message: { type: string, nullable: true }

    GtfsImportStatusResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [current, runs, pagination]
          properties:
            pagination:
              type: object
              required: [current_page, per_page, total, last_page]
              properties:
                current_page: { type: integer }
                per_page: { type: integer }
                total: { type: integer }
                last_page: { type: integer }
            current:
              type: object
              description: "Aktueller Datenbestand und letzter erfolgreicher Stand"
              properties:
                last_success_at: { type: string, format: date-time, nullable: true }
                feed_version: { type: string, nullable: true }
                feed_start_date: { type: string, format: date, nullable: true }
                feed_end_date: { type: string, format: date, nullable: true }
                tables:
                  type: object
                  properties:
                    routes: { type: integer }
                    stops: { type: integer }
                    trips: { type: integer }
                    stop_times: { type: integer }
                    calendar: { type: integer }
                    calendar_dates: { type: integer }
            runs:
              type: array
              items: { $ref: '#/components/schemas/GtfsImportRun' }

    GtfsImportRunResponse:
      type: object
      description: "Zusammenfassung eines Laufs (Start/Chunk/Abschluss)"
      required: [data]
      properties:
        data:
          type: object
          required: [run_id, status, imported]
          properties:
            run_id: { type: integer }
            status: { type: string, enum: [running, success, failed] }
            imported:
              type: object
              required: [routes, stops, trips, stop_times, calendar_dates]
              properties:
                routes: { type: integer }
                stops: { type: integer }
                trips: { type: integer }
                stop_times: { type: integer }
                calendar: { type: integer }
                calendar_dates: { type: integer }

    Line:
      type: object
      description: >
        MVB-Linie, identifiziert über route_short_name — eine Zeile je Linienbezeichnung,
        nicht je GTFS-Route. Zeigt eine Bezeichnung auf mehrere Routen (Schienenersatzverkehr
        unter derselben Nummer), beschreiben route_type/mode die prägende Route (die mit den
        meisten Fahrten) und modes/route_ids alle beteiligten.
      required: [route_short_name, route_type, mode, modes, route_ids]
      properties:
        route_short_name: { type: string }
        route_type: { type: integer, description: "Roher GTFS route_type der prägenden Route (0 = Tram, 3 = Bus)" }
        mode:
          type: string
          enum: [tram, bus, other]
          description: "Aus route_type abgeleiteter Verkehrsmittel-Modus; unbekannte Typen → other"
        modes:
          type: array
          items: { type: string, enum: [tram, bus, other] }
          description: "Alle Verkehrsmittel dieser Linienbezeichnung, alphabetisch"
          example: ['bus', 'tram']
        route_ids:
          type: array
          items: { type: string }
          description: "Alle GTFS-route_ids, die unter dieser Bezeichnung verkehren"
          example: ['17551', '18099']
        color:
          type: string
          nullable: true
          description: "Im Admin gepflegte Linienfarbe (Hex inkl. '#'); null = nicht gesetzt"

    TripCandidate:
      type: object
      description: "GTFS-Trip inkl. Linieninfo (route_short_name/route_type/mode) als Matching-Vorbereitung"
      required: [trip_id, route_id, service_id]
      properties:
        trip_id: { type: string }
        route_id: { type: string }
        route_short_name: { type: string, description: "nur gesetzt, wenn route-Relation geladen" }
        route_type: { type: integer, description: "0 = Tram, 3 = Bus" }
        mode:
          type: string
          enum: [tram, bus, other]
          description: "Aus route_type abgeleiteter Modus; nur gesetzt, wenn route-Relation geladen"
        service_id: { type: string }
        block_id: { type: string, nullable: true }
        direction_id: { type: integer, nullable: true, enum: [0, 1] }

    LineListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Line' }

    AdminLoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }

    Admin:
      type: object
      required: [id, name, email]
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string, format: email }

    AdminAuthResponse:
      type: object
      description: "Login-Antwort: Admin-Daten plus Sanctum-Token"
      required: [data, token, token_type]
      properties:
        data: { $ref: '#/components/schemas/Admin' }
        token: { type: string, description: "Sanctum Plain-Text-Token (Bearer)" }
        token_type: { type: string, enum: [Bearer] }

    AdminResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Admin' }

    SchoolHoliday:
      type: object
      required: [id, name, start_date, end_date]
      properties:
        id: { type: integer }
        name: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }

    SchoolHolidayRequest:
      type: object
      required: [name, start_date, end_date]
      properties:
        name: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date, description: "≥ start_date" }

    HolidaysResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [year, holidays]
          properties:
            year: { type: integer }
            holidays:
              type: array
              items:
                type: object
                properties:
                  date: { type: string, format: date }
                  name: { type: string }

    StopListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/GtfsStop' }

    TripListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/TripCandidate' }

    FahrplanTyp:
      type: string
      description: >
        Betriebstag-Klasse (Fahrplantyp). Ergibt sich aus dem Kalenderdatum:
        Feiertage und Sonntage → so_feiertag, Samstage → sa, Mo-Fr je nach
        Schulferien → mo_fr_ferien oder mo_fr.
      enum: [mo_fr, mo_fr_ferien, sa, so_feiertag]

    LineVersionInterval:
      type: object
      required: [valid_from, valid_to, from_confirmed, to_confirmed]
      properties:
        valid_from: { type: string, format: date }
        valid_to: { type: string, format: date }
        from_confirmed:
          type: boolean
          description: >
            true = der Wechsel auf diese Version wurde innerhalb eines Feed-Fensters
            beobachtet, die Grenze ist echt. false = die Version lag an der Fensterkante an,
            der wahre Beginn liegt davor ("mindestens seit").
        to_confirmed: { type: boolean, description: 'Analog für das Ende des Intervalls.' }

    LineVersion:
      type: object
      required: [id, line, day_type, version_no, fingerprint, intervals]
      properties:
        id: { type: integer }
        line: { type: string }
        day_type: { $ref: '#/components/schemas/FahrplanTyp' }
        day_type_label: { type: string }
        version_no: { type: integer, description: 'Fortlaufend je (Periode, Linie, Typ) — nur zur Anzeige.' }
        fingerprint: { type: string, description: 'SHA256 über die sortierten Fahrt-Signaturen; identifiziert die Version.' }
        trip_count: { type: integer, description: 'Fahrten dieser Version im aktuellen Roh-Bestand.' }
        first_seen_at: { type: string, format: date-time }
        last_seen_at: { type: string, format: date-time }
        intervals:
          type: array
          items: { $ref: '#/components/schemas/LineVersionInterval' }

    SchedulePeriod:
      type: object
      required: [id, label, valid_from, status, created_via]
      properties:
        id: { type: integer }
        label: { type: string }
        valid_from: { type: string, format: date }
        valid_to: { type: string, format: date, nullable: true }
        status: { type: string, enum: [current, frozen] }
        created_via:
          type: string
          enum: [admin, offer, bootstrap]
          description: '`bootstrap` = beim ersten Konsolidierungslauf automatisch angelegt, weil noch keine Periode existierte.'

    SchedulePeriodListItem:
      allOf:
        - $ref: '#/components/schemas/SchedulePeriod'
        - type: object
          required: [line_version_count, is_deletable]
          properties:
            line_version_count:
              type: integer
              description: Zahl der Linien-Versionen, die an dieser Periode hängen.
            is_deletable:
              type: boolean
              description: Nur Perioden ohne Linien-Versionen lassen sich löschen.

    SchedulePeriodRequest:
      type: object
      required: [label, valid_from]
      properties:
        label:
          type: string
          maxLength: 255
          example: Jahresfahrplan 2026/27
        valid_from:
          type: string
          format: date
          description: >
            Erster Geltungstag. Muss netzweit eindeutig sein — zwei Perioden dürfen nicht am selben
            Tag beginnen. `valid_to` wird **nicht** gesetzt: Es ergibt sich aus dem Beginn der
            Folgeperiode, die letzte Periode bleibt offen.

    SchedulePeriodListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/SchedulePeriodListItem' }

    SchedulePeriodResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/SchedulePeriodListItem' }

    PeriodChangeOffer:
      type: object
      required: [id, suggested_from, changed_line_count, active_line_count, lines, status]
      properties:
        id: { type: integer }
        suggested_from:
          type: string
          format: date
          description: Der beobachtete Wechseltag — Beginn der Periode, falls der Vorschlag angenommen wird.
        changed_line_count: { type: integer }
        active_line_count:
          type: integer
          description: Linien, die an diesem Tag überhaupt verkehren — Bezugsgröße der Schwelle.
        share:
          type: number
          nullable: true
          description: 'Anteil `changed/active`; ein Vorschlag entsteht ab `PERIOD_OFFER_MIN_SHARE` (Vorgabe 0.33).'
        lines:
          type: array
          items: { type: string }
        observed_until:
          type: string
          format: date
          description: Bis wohin die Beobachtung hinter dem Wechseltag reicht.
        single_day_observation:
          type: boolean
          description: >
            `true`, wenn `observed_until` dem Wechseltag entspricht — der Wechsel liegt dann am
            Rand des Feed-Fensters und ruht auf einer **einzigen** Beobachtung. Ein Fensterrand
            ist kein Fahrplanwechsel (§5.4 b); erst der nächste Import entscheidet. Der Wert wird
            zur Lesezeit berechnet und verschwindet von selbst, sobald ein späterer Import den
            Zeitraum dahinter abdeckt.
        status: { type: string, enum: [open, accepted, declined] }
        status_label: { type: string }
        decided_at: { type: string, format: date-time, nullable: true }

    PeriodChangeOfferListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/PeriodChangeOffer' }

    PeriodChangeOfferResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/PeriodChangeOffer' }

    PeriodChangeAcceptRequest:
      type: object
      required: [label]
      properties:
        label:
          type: string
          maxLength: 255
          description: Bezeichnung der neuen Periode. Ihr Beginn steht bereits fest (`suggested_from`).
          example: Jahresfahrplan 2026/27

    CoverageRange:
      type: object
      required: [from, to, from_confirmed, to_confirmed]
      properties:
        from: { type: string, format: date }
        to: { type: string, format: date }
        from_confirmed:
          type: boolean
          description: '`false` = die Grenze lag an einer Feed-Fensterkante und ist nur eine Untergrenze (§5.4 b).'
        to_confirmed: { type: boolean }

    CoverageGap:
      type: object
      required: [from, to, days]
      properties:
        from: { type: string, format: date }
        to: { type: string, format: date }
        days:
          type: integer
          description: Zahl der fehlenden Tage **dieses Fahrplantyps** — Wochenenden zählen für `mo_fr` nicht mit.

    CoverageDayType:
      type: object
      required: [day_type, day_type_label, ranges, gaps, versions_total, versions_without_content]
      properties:
        day_type: { $ref: '#/components/schemas/FahrplanTyp' }
        day_type_label: { type: string }
        ranges:
          type: array
          items: { $ref: '#/components/schemas/CoverageRange' }
        gaps:
          type: array
          items: { $ref: '#/components/schemas/CoverageGap' }
        versions_total: { type: integer }
        versions_without_content:
          type: integer
          description: Versionen, für die zwar ein Zeitraum bekannt ist, aber keine Fahrten konsolidiert wurden.

    CoverageResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [window, totals, lines]
          properties:
            window:
              type: object
              nullable: true
              properties:
                from: { type: string, format: date }
                to: { type: string, format: date }
            totals:
              type: object
              properties:
                lines: { type: integer }
                versions: { type: integer }
                versions_without_content: { type: integer }
                consolidated_trips: { type: integer }
            lines:
              type: array
              items:
                type: object
                required: [line, day_types]
                properties:
                  line: { type: string }
                  day_types:
                    type: array
                    items: { $ref: '#/components/schemas/CoverageDayType' }

    ScheduleSource:
      type: string
      enum: [consolidated, raw]
      default: consolidated
      description: >
        Aus welchem Bestand geantwortet wird. `consolidated` (Vorgabe) ist der dauerhafte
        Bestand, der über viele Importe zusammenwächst und **jedes je beobachtete Datum**
        kennt. `raw` ist der importierte GTFS-Bestand — nur das aktuelle Feed-Fenster von rund
        drei Wochen, bei jedem Import ersetzt.


        Die Admin-Schaltzentrale kann umschalten (der Roh-Bestand bleibt der Kontrollblick auf
        das, was der letzte Import wirklich lieferte); der öffentliche Viewer sieht
        ausschließlich das Konsolidat.

    SourceMeta:
      type: object
      required: [source]
      properties:
        source: { $ref: '#/components/schemas/ScheduleSource' }

    ConsolidatedTrip:
      type: object
      required: [id, signature, route_short_name, route_type, mode, day_type, version_no]
      description: >
        Eine Fahrt aus dem Konsolidat. Bewusst **ohne** `trip_id`, `service_id` und `block_id`:
        Das sind Begriffe des Roh-Bestands, die gtfs.de pro Build neu vergibt. Dauerhaft sind
        die `signature` und die Version, in der die Fahrt steht.
      properties:
        id: { type: integer }
        signature:
          type: string
          description: SHA256 über Linie, Fahrplantyp und Abfahrts-Zeitsequenz — stabil über Builds hinweg.
        route_short_name: { type: string }
        route_type: { type: integer }
        mode: { type: string }
        day_type: { $ref: '#/components/schemas/FahrplanTyp' }
        version_no: { type: integer }
        start_stop: { type: string, nullable: true }
        end_stop: { type: string, nullable: true }
        departure_time: { type: string, nullable: true, example: '07:00:00' }
        arrival_time: { type: string, nullable: true, example: '07:25:00' }

    ConsolidatedTripListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/ConsolidatedTrip' }
        meta: { $ref: '#/components/schemas/SourceMeta' }

    TimetableRow:
      type: object
      required: [position, stop_id, stop_name, repeat_index]
      description: >
        Eine Zeile der Fahrplan-Matrix. Die Zeile ist eine **Position in der Haltefolge**, nicht
        eine Halt-Identität: 1.022 der 18.193 Fahrten berühren denselben Halt zweimal
        (Wendeschleifen, Stichabstecher — die Steige sind im Konsolidat verschmolzen,
        FAHRPLANPERIODEN §5.1). Derselbe `stop_id` kann deshalb mehrfach vorkommen,
        unterschieden über `repeat_index`.
      properties:
        position: { type: integer, description: Nullbasierter Zeilenindex. }
        stop_id: { type: integer, description: '`consolidated_stops.id`' }
        stop_name: { type: string }
        repeat_index:
          type: integer
          description: 0 beim ersten Vorkommen dieses Halts auf dem Laufweg, 1 beim zweiten.

    TimetableTrip:
      type: object
      required: [id, signature, mode, cells]
      properties:
        id: { type: integer }
        signature:
          type: string
          description: SHA256 über Linie, Fahrplantyp und Abfahrts-Zeitsequenz — stabil über Feed-Builds hinweg.
        mode: { type: string }
        departure_time: { type: string, nullable: true, example: '07:00:00' }
        arrival_time: { type: string, nullable: true, example: '07:25:00' }
        cells:
          type: array
          description: >
            Zeiten als `HH:MM`, **positionsgleich zu `rows`**. `null` heißt: Diese Fahrt bedient
            die Zeile nicht (Kurzläufer, abweichende Variante). Stunden über 24 bleiben erhalten
            (`25:10`) — GTFS-Zeiten sind Netz-Lokalzeit relativ zum Betriebstag und werden **nicht**
            in eine Zeitzone umgerechnet.
          items: { type: string, nullable: true }

    TimetableDirection:
      type: object
      required: [key, start_stop, end_stop, trip_count, variant_count, alignment_warning, rows, trips]
      properties:
        key: { type: string, description: 'Stabiler Schlüssel `<first_stop_id>>><last_stop_id>`.' }
        start_stop: { type: string }
        end_stop: { type: string }
        trip_count: { type: integer }
        variant_count:
          type: integer
          description: >
            Zahl verschiedener Haltefolgen in dieser Richtung. Über 1 heißt: Kurzläufer oder
            Umleitungen wurden auf eine gemeinsame Zeilenachse ausgerichtet. Netzweit trifft das
            58 von 965 Richtungen, mit bis zu sieben Varianten.
        alignment_warning:
          type: boolean
          description: >
            `true`, wenn die ausgerichtete Achse mehr als das 1,5-fache der längsten Einzelvariante
            umfasst — dann sind die Varianten so verschieden, dass eine gemeinsame Tabelle in die
            Irre führen kann. Am Produktivbestand tritt das derzeit **nirgends** auf (schlechtester
            Wert 1,29).
        rows:
          type: array
          items: { $ref: '#/components/schemas/TimetableRow' }
        trips:
          type: array
          items: { $ref: '#/components/schemas/TimetableTrip' }

    TimetableResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [line_version, period, directions]
          properties:
            line_version:
              allOf:
                - $ref: '#/components/schemas/LineVersion'
                - type: object
                  properties:
                    trip_count: { type: integer }
            period: { $ref: '#/components/schemas/SchedulePeriod' }
            directions:
              type: array
              description: Nach Fahrtenzahl absteigend.
              items: { $ref: '#/components/schemas/TimetableDirection' }

    DiffTrip:
      type: object
      required: [id, signature, start_stop, end_stop, stop_count]
      properties:
        id: { type: integer }
        signature: { type: string }
        start_stop: { type: string }
        end_stop: { type: string }
        departure_time: { type: string, nullable: true }
        arrival_time: { type: string, nullable: true }
        stop_count: { type: integer }

    DiffStopRow:
      type: object
      required: [stop_name, status]
      description: Eine Zeile des Halt-für-Halt-Vergleichs zweier gepaarter Fahrten.
      properties:
        stop_id: { type: integer, nullable: true }
        stop_name: { type: string }
        from_time: { type: string, nullable: true }
        to_time: { type: string, nullable: true }
        delta_seconds:
          type: integer
          nullable: true
          description: '`to` minus `from`; nur gesetzt, wenn beide Seiten den Halt bedienen.'
        status:
          type: string
          enum: [equal, shifted, only_from, only_to]

    DiffPair:
      type: object
      required: [reason, uniform_shift, from_trip, to_trip]
      properties:
        reason:
          type: string
          enum: [time, route, time_and_route]
          description: >
            `time` = nur die Zeiten haben sich verschoben, `route` = der Laufweg hat sich geändert,
            `time_and_route` = beides.
          
        shift_seconds:
          type: integer
          nullable: true
          description: Versatz am ersten gemeinsamen Halt — das, was man als „fährt eine Minute später" liest.
        uniform_shift:
          type: boolean
          description: Alle gemeinsamen Halte sind um denselben Betrag verschoben (der häufige Fall).
        from_trip: { $ref: '#/components/schemas/DiffTrip' }
        to_trip: { $ref: '#/components/schemas/DiffTrip' }
        stops:
          type: array
          description: Nur bei `include=stops`.
          items: { $ref: '#/components/schemas/DiffStopRow' }

    LineVersionDiffResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [from, to, summary, changed, added, removed]
          properties:
            from: { $ref: '#/components/schemas/LineVersion' }
            to: { $ref: '#/components/schemas/LineVersion' }
            summary:
              type: object
              properties:
                unchanged: { type: integer }
                changed: { type: integer }
                added: { type: integer }
                removed: { type: integer }
                from_trip_count: { type: integer }
                to_trip_count: { type: integer }
            changed:
              type: array
              items: { $ref: '#/components/schemas/DiffPair' }
            added:
              type: array
              items: { $ref: '#/components/schemas/DiffTrip' }
            removed:
              type: array
              items: { $ref: '#/components/schemas/DiffTrip' }

    LineVersionsResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [period, lines]
          properties:
            period:
              allOf: [{ $ref: '#/components/schemas/SchedulePeriod' }]
              nullable: true
            coverage:
              type: object
              nullable: true
              description: Vom Konsolidat abgedeckter Zeitraum über alle Versionen.
              properties:
                from: { type: string, format: date, nullable: true }
                to: { type: string, format: date, nullable: true }
                confirmed_boundaries: { type: integer }
                open_boundaries: { type: integer }
            lines:
              type: array
              items:
                type: object
                required: [line, versions]
                properties:
                  line: { type: string }
                  versions:
                    type: array
                    items: { $ref: '#/components/schemas/LineVersion' }

    LineTripItem:
      type: object
      required: [trip_id, service_id]
      properties:
        trip_id: { type: string }
        service_id: { type: string }
        departure_time: { type: string, nullable: true, description: "Abfahrt am Starthalt (GTFS-Lokalzeit HH:MM:SS, kann >24h sein)" }
        arrival_time: { type: string, nullable: true, description: "Ankunft am Zielhalt (GTFS-Lokalzeit)" }
        day_pattern:
          type: string
          nullable: true
          description: >
            Wöchentlich wiederkehrende Verkehrstage in Kurzform ("Mo-Fr", "Sa, So",
            "täglich"), aus dem GTFS-Wochenmuster (calendar) der service_id abgeleitet.
            Null, wenn die Fahrt kein Wochenmuster hat — dann verkehrt sie ausschließlich
            an den Einzelterminen in service_dates.
          example: Mo-Fr
        service_dates:
          type: array
          items: { type: string, format: date }
          description: >
            Einzeltermine der Fahrt (calendar_dates, exception_type 1) als reine
            Kalenderdaten — nur gefüllt, wenn day_pattern null ist. Bei gtfs.de kommen
            Services ohne jede calendar-Zeile regelmäßig vor; für sie ist das die einzige
            Auskunft über die Verkehrstage. Zusätzliche Einzeltermine oberhalb eines
            vorhandenen Wochenmusters werden hier nicht ausgewiesen.
          example: ['2026-08-16']
        mode:
          type: string
          enum: [tram, bus, other]
          description: >
            Verkehrsmittel dieser Fahrt, abgeleitet aus dem route_type ihrer GTFS-Route.
            Relevant, wenn eine Linienbezeichnung auf mehrere Routen zeigt — siehe modes.
          example: tram

    LineTripGroup:
      type: object
      required: [start_stop, end_stop, trip_count, trips]
      properties:
        start_stop: { type: string }
        end_stop: { type: string }
        trip_count: { type: integer }
        trips:
          type: array
          items: { $ref: '#/components/schemas/LineTripItem' }

    LineTripsResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [line, trip_count, groups]
          properties:
            line: { type: string }
            trip_count: { type: integer }
            day_type:
              type: string
              nullable: true
              enum: [mo_fr, mo_fr_ferien, sa, so_feiertag, null]
              description: Angeforderter Fahrplantyp; null = ungefiltert (alle Fahrten).
            day_type_label: { type: string, nullable: true, description: 'Anzeigename des Fahrplantyps, z. B. "Mo-Fr".' }
            reference_date:
              type: string
              format: date
              nullable: true
              description: >
                Stichtag, über den der Fahrplantyp aufgelöst wurde. Gewählt wird der Tag mit
                der häufigsten Service-Zusammensetzung unter allen Tagen dieses Typs im
                Feed-Fenster (bei Gleichstand der frühere) — nicht der erste passende Tag,
                weil Umbrüche wie Ferienende oder das Ende eines Schienenersatzverkehrs
                typischerweise am Fensteranfang liegen und diesen Tag untypisch machen.
                Null bei ungefilterter Abfrage oder wenn der Feed keinen Tag dieses Typs
                abdeckt (dann ist groups leer).
            modes:
              type: array
              items: { type: string, enum: [tram, bus, other] }
              description: >
                Alle in der Antwort vorkommenden Verkehrsmittel, alphabetisch. Mehr als
                ein Eintrag bedeutet, dass die Linienbezeichnung auf mehrere GTFS-Routen
                zeigt — etwa bei einem Schienenersatzverkehr, der dieselbe Nummer als Bus
                führt (N2 im Feed vom 17.08.2026: Tram ab 18.08., Bus 15.–17.08.). Dann
                erst ist mode je Fahrt eine nötige Unterscheidung.
              example: ['bus', 'tram']
            groups:
              type: array
              items: { $ref: '#/components/schemas/LineTripGroup' }

paths:
  /api/v1/lines:
    get:
      operationId: listLines
      summary: Alle MVB-Linien (Tram + Bus)
      description: >
        Öffentliche Stammdaten — kein Auth im MVP.


        Vorgabe ist das **Konsolidat**: alle Linien, für die dauerhafte Fahrten vorliegen.
        `route_ids` ist dort leer — GTFS-Route-IDs gehören zum Roh-Bestand und werden pro Build
        neu vergeben. Mit `?source=raw` antwortet der Endpunkt aus dem letzten Import, samt
        `route_ids`.
      tags: [Stammdaten]
      parameters:
        - name: source
          in: query
          required: false
          schema: { $ref: '#/components/schemas/ScheduleSource' }
      responses:
        '200':
          description: Liste aller Linien
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineListResponse' }
        '422':
          description: Unbekannte source
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/lines/{line}/trips:
    get:
      operationId: listLineTrips
      summary: Fahrten einer Linie, gruppiert nach Starthaltestelle → Zielhaltestelle
      description: >
        Alle Fahrten der Linie, gruppiert nach erstem und letztem Halt (Richtung/Variante).
        Innerhalb einer Gruppe nach Abfahrtszeit sortiert. Öffentliche Stammdaten — kein Auth.


        Ohne day_type enthält die Antwort alle Fahrten aller Betriebstage — dieselbe
        Abfahrtszeit kann dann mehrfach erscheinen (z. B. je einmal im Werktags- und im
        Sonntagsfahrplan). Das Feld day_pattern je Fahrt schlüsselt das auf; day_type
        filtert auf genau einen Betriebstag-Typ.
      tags: [Stammdaten]
      parameters:
        - name: line
          in: path
          required: true
          description: Linienbezeichnung (route_short_name), z. B. "1" oder "73".
          schema: { type: string }
        - name: day_type
          in: query
          required: false
          description: >
            Auf einen Fahrplantyp einschränken. Aufgelöst über einen Stichtag im
            Gültigkeitsfenster des Feeds (siehe reference_date in der Antwort).
            Deckt der Feed keinen Tag dieses Typs ab, ist groups leer.
          schema: { $ref: '#/components/schemas/FahrplanTyp' }
        - name: source
          in: query
          required: false
          description: >
            Aus dem Konsolidat (Vorgabe) trägt jede Fahrt ihre `version_no` und deren beobachtete
            Gültigkeit (`validity`) statt der Roh-Begriffe `day_pattern`/`service_dates`;
            `reference_date` ist dann `null`, weil kein Stichtag nötig ist.
          schema: { $ref: '#/components/schemas/ScheduleSource' }
      responses:
        '200':
          description: Fahrten der Linie, gruppiert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineTripsResponse' }
        '422':
          description: Unbekannter day_type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/stops:
    get:
      operationId: listStops
      summary: Alle MVB-Haltestellen
      description: Öffentliche Stammdaten — kein Auth im MVP. Nach Name sortiert.
      tags: [Stammdaten]
      responses:
        '200':
          description: Liste aller Haltestellen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StopListResponse' }

  /api/v1/trips:
    get:
      operationId: listTrips
      summary: Fahrten nach Betriebstag, Linie und Haltestelle filtern
      description: >
        Liefert gefilterte Fahrten als Matching-Vorbereitung (SPEC §3.2, Stufen 1–3).
        Alle Filter sind optional und werden mit UND verknüpft. Der zeitliche
        Feinfilter (time=, ±Zeitfenster) folgt erst in I-05.


        **Die Quelle bestimmt Reichweite und Antwortform.** Aus dem Konsolidat (Vorgabe) ist
        jedes je beobachtete Datum abfragbar — auch ein Baustellenfahrplan, den der aktuelle
        Feed längst nicht mehr enthält; die Fahrten tragen `signature` und `version_no`. Aus
        dem Roh-Bestand (`source=raw`) sind nur Tage des aktuellen Feed-Fensters beantwortbar;
        die Fahrten tragen `trip_id`, `service_id` und `block_id`. `meta.source` sagt, was
        geliefert wurde.


        Ein Datum, das in keinem beobachteten Intervall liegt, liefert eine **leere** Liste —
        nicht den zuletzt bekannten Fahrplan.
      tags: [Stammdaten]
      parameters:
        - name: date
          in: query
          required: false
          description: >
            Betriebstag im Format YYYY-MM-DD. Im Konsolidat bestimmt er Fahrplantyp und gültige
            Version, im Roh-Bestand die an diesem Tag gültigen `service_id`s.
          schema: { type: string, format: date }
        - name: line
          in: query
          required: false
          description: Linienbezeichnung (route_short_name), z.B. "1" oder "73".
          schema: { type: string }
        - name: stop
          in: query
          required: false
          description: >
            Haltestelle, die die Fahrt bedienen muss. **Achtung:** im Konsolidat eine
            `consolidated_stops.id` (Ganzzahl), im Roh-Bestand eine GTFS-`stop_id`.
          schema: { type: string }
        - name: source
          in: query
          required: false
          schema: { $ref: '#/components/schemas/ScheduleSource' }
      responses:
        '200':
          description: Gefilterte Fahrten-Liste — Form je nach `source`
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConsolidatedTripListResponse'
                  - $ref: '#/components/schemas/TripListResponse'
        '422':
          description: Ungültiger Filter (z.B. falsches Datumsformat)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }


  /api/v1/admin/login:
    post:
      operationId: adminLogin
      summary: Admin-Login (Single-Admin), gibt Sanctum-Token zurück
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminLoginRequest' }
      responses:
        '200':
          description: Login erfolgreich
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAuthResponse' }
        '401':
          description: Ungültige Zugangsdaten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Validierungsfehler
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/logout:
    post:
      operationId: adminLogout
      summary: Aktuellen Admin-Token widerrufen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '204':
          description: Token widerrufen
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/me:
    get:
      operationId: adminMe
      summary: Angemeldeten Admin abfragen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Admin-Daten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/line-versions:
    get:
      operationId: listLineVersions
      summary: Fahrplan-Versionen je Linie und Betriebstag-Typ
      description: >
        Die Änderungshistorie des Fahrplans aus dem Konsolidat (FAHRPLANPERIODEN §5.4):
        je Linie und Fahrplantyp die beobachteten Versionen mit ihren Gültigkeits-Intervallen.


        Eine Version ist über ihren Fingerprint identifiziert — kehrt eine Linie nach einer
        Baustelle zum alten Fahrplan zurück, erscheint dieselbe Version mit einem weiteren
        Intervall statt einer neuen. Grenzen sind nur dann `confirmed`, wenn der Wechsel
        innerhalb eines Feed-Fensters beobachtet wurde; an der Fensterkante sind sie
        Untergrenzen.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: line
          in: query
          required: false
          description: Auf eine Linienbezeichnung einschränken.
          schema: { type: string }
        - name: day_type
          in: query
          required: false
          description: Auf einen Fahrplantyp einschränken.
          schema: { $ref: '#/components/schemas/FahrplanTyp' }
      responses:
        '200':
          description: Versionen der laufenden Periode
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineVersionsResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/coverage:
    get:
      operationId: getCoverage
      summary: Abdeckung des Konsolidats
      description: >
        Für welche Zeiträume gibt das Konsolidat den Fahrplan wirklich her — und wo klaffen
        Lücken (FAHRPLANPERIODEN Phase C)?


        **Abgedeckt heißt: mit Inhalt.** Eine Linien-Version belegt nur, *dass* an diesen Tagen
        ein bestimmter Fahrplan galt; abrufbar ist er erst mit konsolidierten Fahrten. Versionen
        ohne Inhalt zählen deshalb nicht als Abdeckung, sondern werden als
        `versions_without_content` ausgewiesen.


        Abschnitte und Lücken sind **fahrplantyp-bezogen**: Zwischen zwei Samstagen liegen sechs
        Tage ohne Samstag — für den `sa`-Strang ist das lückenlose Abdeckung, keine Unterbrechung.
        Eine Lücke wird nur gemeldet, wenn dort tatsächlich Tage dieses Typs fehlen, etwa nach
        einem ausgefallenen Import.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Abdeckung je Linie und Fahrplantyp
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CoverageResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/line-version-diff:
    get:
      operationId: getLineVersionDiff
      summary: Zwei Linien-Versionen vergleichen
      description: >
        Was unterscheidet zwei Fahrplan-Versionen derselben Linie und desselben Fahrplantyps?
        Die Versionen-Ansicht zeigt, **dass** ein Wechsel stattfand; dieser Endpunkt zeigt, **welche
        Fahrten** betroffen sind.


        **Verfahren.** Eine Version ist definiert als die sortierte Menge ihrer Fahrt-Signaturen —
        der Vergleich beginnt deshalb als Multiset-Abgleich dieser Signaturen. Fahrten mit gleicher
        Signatur gelten als unverändert.


        Die Signatur enthält allerdings **keine Halte** und nur Minuten
        (`SHA(Linie | Fahrplantyp | HH:MM-Abfahrtssequenz)`). Ein reiner Laufweg-Wechsel bei
        gleichen Zeiten erschiene damit als „unverändert" — deshalb werden gepaarte Signaturen
        zusätzlich auf gleiche Haltefolge geprüft und bei Abweichung zu *geändert* herabgestuft
        (`reason: route`).


        Was danach übrig bleibt, wird nach Start- und Zielhalt gebündelt und innerhalb dieser
        Bündel nach nächstgelegener Abfahrtszeit gepaart. Über einer Stunde Abstand wird nicht mehr
        gepaart — dann sind es eine entfallene und eine neue Fahrt, keine verschobene. Der am
        Produktivbestand gemessene Extremfall liegt bei 43 Minuten.


        Beide Versionen müssen dieselbe Periode, Linie und denselben Fahrplantyp tragen; sonst 422.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: from
          in: query
          required: true
          description: '`line_versions.id` der älteren Version.'
          schema: { type: integer }
        - name: to
          in: query
          required: true
          schema: { type: integer }
        - name: include
          in: query
          required: false
          description: '`stops` ergänzt je geänderter Fahrt den Halt-für-Halt-Vergleich.'
          schema: { type: string, enum: [stops] }
      responses:
        '200':
          description: Unterschied der beiden Versionen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineVersionDiffResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Unbekannte Version, identische IDs, oder verschiedene Linie/Fahrplantyp/Periode
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/line-versions/{lineVersion}/timetable:
    parameters:
      - name: lineVersion
        in: path
        required: true
        description: '`line_versions.id` — die Fahrplan-Version, deren Inhalt gezeigt wird.'
        schema: { type: integer }
    get:
      operationId: getTimetable
      summary: Fahrplan einer Linien-Version als Matrix
      description: >
        Der vollständige Fahrplan einer Linien-Version im Fahrplanbuch-Format: Halte als Zeilen,
        Fahrten als Spalten. Gruppiert nach Richtung (erster und letzter Halt), innerhalb einer
        Richtung nach Abfahrtszeit sortiert.


        **Warum an der Version und nicht an (Linie, Fahrplantyp):** Für ein Paar können mehrere
        Versionen nebeneinander bestehen — eine für den Zeitraum bis zum Fahrplanwechsel, eine
        danach. Ein Endpunkt, der implizit „die neueste" wählte, verschluckte diese Unterscheidung.
        Die IDs liefert `GET /api/v1/admin/line-versions`.


        **Kein Periodenfilter:** Auch die Fahrpläne eingefrorener Perioden bleiben abrufbar — genau
        dafür gibt es das Konsolidat. `period.status` sagt, ob es sich um Historie handelt.


        Innerhalb einer Richtung können mehrere Haltefolgen vorkommen (Kurzläufer, Umleitungen).
        Sie werden auf **eine** Zeilenachse ausgerichtet; eine Fahrt, die eine Zeile nicht bedient,
        trägt dort `null`. Siehe `variant_count` und `alignment_warning`.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Fahrplan der Version
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TimetableResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Unbekannte Linien-Version
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/schedule-periods:
    get:
      operationId: listSchedulePeriods
      summary: Fahrplanperioden auflisten
      description: >
        Die netzweiten, kuratierten Fahrplanperioden (FAHRPLANPERIODEN §4.1) in chronologischer
        Reihenfolge — jüngste zuerst.


        Perioden bilden eine lückenlose, überschneidungsfreie Kette: `valid_to` ist stets abgeleitet
        (Vortag des Nachfolgers), die jüngste Periode bleibt offen. `status: current` trägt die Periode,
        die den heutigen Tag abdeckt.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Liste der Perioden
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchedulePeriodListResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    post:
      operationId: createSchedulePeriod
      summary: Fahrplanperiode anlegen
      description: >
        Legt eine Periode an und rechnet die Kette neu: Der Vorgänger endet am Vortag, die neue Periode
        ist ab `valid_from` gültig.


        Eine neue Periode **setzt die Linien-Versionen zurück** — jede (Linie, Fahrplantyp) beginnt darin
        wieder mit Version 1 (§4.1). Bereits erfasste Versionen der Vorperiode bleiben als Historie erhalten.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchedulePeriodRequest' }
      responses:
        '201':
          description: Periode angelegt
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchedulePeriodResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Validierungsfehler — etwa ein bereits belegtes `valid_from`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/schedule-periods/{period}:
    parameters:
      - name: period
        in: path
        required: true
        schema: { type: integer }
    put:
      operationId: updateSchedulePeriod
      summary: Fahrplanperiode ändern
      description: >
        Ändert Label und/oder Beginn. Beim Verschieben von `valid_from` wird die Kette neu gerechnet;
        die Gültigkeit der Nachbarperioden zieht mit.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchedulePeriodRequest' }
      responses:
        '200':
          description: Periode geändert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchedulePeriodResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Validierungsfehler
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      operationId: deleteSchedulePeriod
      summary: Fahrplanperiode löschen
      description: >
        Nur zulässig, solange **keine** Linien-Versionen an der Periode hängen — sonst ginge
        beobachtete Fahrplan-Historie verloren (409). Nach dem Löschen übernimmt der Vorgänger
        den freigewordenen Zeitraum.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '204':
          description: Periode gelöscht
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Periode trägt Linien-Versionen und bleibt erhalten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/period-change-offers:
    get:
      operationId: listPeriodChangeOffers
      summary: Offene Periodenwechsel-Vorschläge
      description: >
        Ändern sich an einem Tag mindestens `PERIOD_OFFER_MIN_SHARE` (Vorgabe 33 %) der dort
        verkehrenden Linien gleichzeitig, ist das ein Indiz für einen echten Fahrplanwechsel statt
        für einzelne Baustellen. Das System **bietet** dann einen Periodenwechsel an — es legt ihn
        nicht selbst an (FAHRPLANPERIODEN §4.3).


        Gezählt werden nur **beobachtete** Wechsel: Eine Version, die an der Feed-Fensterkante
        beginnt, ist bloß eine Untergrenze und ergibt keinen Wechseltag.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Offene Vorschläge, ältester Wechseltag zuerst
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PeriodChangeOfferListResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/period-change-offers/{offer}/accept:
    parameters:
      - name: offer
        in: path
        required: true
        schema: { type: integer }
    post:
      operationId: acceptPeriodChangeOffer
      summary: Periodenwechsel annehmen
      description: >
        Legt die Periode zum vorgeschlagenen Tag an, **nimmt die Linien-Versionen ab diesem Tag
        zurück** und konsolidiert neu — jede (Linie, Fahrplantyp) startet in der neuen Periode
        wieder bei Version 1. So bleibt die alte Periode frei von Versions-Wildwuchs, der in
        Wahrheit ein einziger Fahrplanwechsel war (§4.3).


        Intervalle, die über den Wechseltag hinweglaufen, werden am Vortag gekappt; ihre neue
        Obergrenze ist ein exakt bekanntes Datum und damit gesichert.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PeriodChangeAcceptRequest' }
      responses:
        '201':
          description: Periode angelegt
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchedulePeriodResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Vorschlag wurde bereits beschieden
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Validierungsfehler
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/period-change-offers/{offer}/decline:
    parameters:
      - name: offer
        in: path
        required: true
        schema: { type: integer }
    post:
      operationId: declinePeriodChangeOffer
      summary: Periodenwechsel ablehnen
      description: >
        Die Änderungen bleiben als gewöhnliche Linien-Versionen in der laufenden Periode stehen —
        abgelehnt heißt „war kein Fahrplanwechsel", nicht „war nichts". Derselbe Tag wird bei
        Folge-Importen nicht erneut vorgeschlagen.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Vorschlag abgelehnt
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PeriodChangeOfferResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Vorschlag wurde bereits beschieden
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/imports:
    get:
      operationId: adminListImports
      summary: Import-Historie & Datenstand fürs Admin-Frontend
      description: Gleiche Daten wie GET /api/v1/collector/imports, aber Sanctum-geschützt (Browser, ohne Collector-Token).
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 1, minimum: 1 }
        - name: per_page
          in: query
          required: false
          schema: { type: integer, default: 10, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Historie & aktueller Datenstand
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GtfsImportStatusResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/school-holidays:
    get:
      operationId: listSchoolHolidays
      summary: Schulferien-Zeiträume auflisten
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Liste der Ferienzeiten
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/SchoolHoliday' } }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    post:
      operationId: createSchoolHoliday
      summary: Ferienzeit anlegen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolHolidayRequest' }
      responses:
        '201': { description: Angelegt, content: { application/json: { schema: { type: object, properties: { data: { $ref: '#/components/schemas/SchoolHoliday' } } } } } }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: Validierungsfehler, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /api/v1/admin/school-holidays/{schoolHoliday}:
    put:
      operationId: updateSchoolHoliday
      summary: Ferienzeit ändern
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - { name: schoolHoliday, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolHolidayRequest' }
      responses:
        '200': { description: Geändert, content: { application/json: { schema: { type: object, properties: { data: { $ref: '#/components/schemas/SchoolHoliday' } } } } } }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: Validierungsfehler, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      operationId: deleteSchoolHoliday
      summary: Ferienzeit löschen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - { name: schoolHoliday, in: path, required: true, schema: { type: integer } }
      responses:
        '204': { description: Gelöscht }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /api/v1/admin/holidays:
    get:
      operationId: listHolidays
      summary: Berechnete Feiertage (Sachsen-Anhalt) eines Jahres — read-only
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - { name: year, in: query, required: false, schema: { type: integer } }
      responses:
        '200':
          description: Feiertage des Jahres
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HolidaysResponse' }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /api/v1/admin/line-colors/{line}:
    put:
      operationId: setLineColor
      summary: Linienfarbe setzen/ändern
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: line
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [color]
              properties:
                color: { type: string, description: "Hex inkl. '#', z. B. #c9346c" }
      responses:
        '200':
          description: Farbe gespeichert
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      route_short_name: { type: string }
                      color: { type: string }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: Ungültige Farbe, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      operationId: resetLineColor
      summary: Linienfarbe zurücksetzen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: line
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Farbe entfernt }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /api/v1/collector/imports:
    post:
      operationId: startGtfsImport
      summary: GTFS-Import starten (Basistabellen)
      description: >
        Startet einen Import-Lauf und speichert die Basistabellen idempotent per Upsert.
        Die stop_times folgen separat in Chunks. Body darf gzip-komprimiert sein.
      tags: [Collector]
      security:
        - CollectorToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportStartRequest'
      responses:
        '201':
          description: Lauf gestartet (Status running)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GtfsImportRunResponse' }
        '400':
          description: Ungültiger gzip-Body
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Fehlender oder ungültiger Bearer-Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Rate-Limit überschritten (120 Requests/Minute je IP)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Validierungsfehler im Payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    get:
      operationId: listGtfsImports
      summary: Import-Historie und aktueller Datenstand
      description: >
        Liefert die letzten GTFS-Import-Läufe (Status, Zeitpunkte, Counts, Feed-Version)
        sowie den aktuellen Datenbestand. Dient der Nachvollziehbarkeit des Imports.
      tags: [Collector]
      security:
        - CollectorToken: []
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 1, minimum: 1 }
        - name: per_page
          in: query
          required: false
          schema: { type: integer, default: 10, minimum: 1, maximum: 100 }
          description: Läufe pro Seite
      responses:
        '200':
          description: Import-Historie und Datenstand
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GtfsImportStatusResponse'
        '401':
          description: Fehlender oder ungültiger Bearer-Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Rate-Limit überschritten (120 Requests/Minute je IP)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/collector/imports/{run}/stop-times:
    post:
      operationId: appendStopTimes
      summary: stop_times-Chunk an einen laufenden Import anhängen
      description: Hängt einen Chunk an stop_times an. Body darf gzip-komprimiert sein.
      tags: [Collector]
      security:
        - CollectorToken: []
      parameters:
        - name: run
          in: path
          required: true
          schema: { type: integer }
          description: ID des laufenden Imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopTimesChunkRequest'
      responses:
        '200':
          description: Chunk gespeichert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GtfsImportRunResponse' }
        '401':
          description: Fehlender oder ungültiger Bearer-Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Rate-Limit überschritten (120 Requests/Minute je IP)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Lauf ist bereits abgeschlossen oder fehlgeschlagen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/collector/imports/{run}/finish:
    post:
      operationId: finishGtfsImport
      summary: Import-Lauf abschließen
      description: Markiert den Lauf als erfolgreich abgeschlossen.
      tags: [Collector]
      security:
        - CollectorToken: []
      parameters:
        - name: run
          in: path
          required: true
          schema: { type: integer }
          description: ID des laufenden Imports
      responses:
        '200':
          description: Lauf abgeschlossen (Status success)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GtfsImportRunResponse' }
        '401':
          description: Fehlender oder ungültiger Bearer-Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Rate-Limit überschritten (120 Requests/Minute je IP)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Lauf ist bereits abgeschlossen oder fehlgeschlagen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
