openapi: 3.1.0
info:
  title: MD-Takt API
  version: 0.1.0
  description: API zur manuellen Umlauf-Rekonstruktion für Magdeburger Straßenbahnen (MVB).

servers:
  - url: https://api.strassenbahn-magdeburg.de
    description: Production
  - url: http://localhost:8000
    description: Local

components:
  securitySchemes:
    CollectorToken:
      type: http
      scheme: bearer
      description: Statischer API-Key für Collector-Endpunkte
    AdminToken:
      type: http
      scheme: bearer
      description: Laravel-Sanctum-Token (Admin-Schaltzentrale); via POST /api/v1/admin/login erhalten

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
            message:
              type: string

    GtfsRoute:
      type: object
      required: [route_id, route_short_name, route_type]
      properties:
        route_id: { type: string }
        route_short_name: { type: string }
        route_type: { type: integer, description: "GTFS route_type; 0 = Tram, 3 = Bus (alle MVB-Verkehrsmittel)" }

    GtfsStop:
      type: object
      required: [stop_id, stop_name]
      properties:
        stop_id: { type: string }
        stop_name: { type: string }
        lat: { type: number, nullable: true }
        lon: { type: number, nullable: true }

    GtfsTrip:
      type: object
      required: [trip_id, route_id, service_id]
      properties:
        trip_id: { type: string }
        route_id: { type: string }
        service_id: { type: string }
        block_id: { type: string, nullable: true }
        direction_id: { type: integer, nullable: true, enum: [0, 1] }

    GtfsStopTime:
      type: object
      required: [trip_id, stop_id, stop_sequence]
      properties:
        trip_id: { type: string }
        stop_id: { type: string }
        arrival_time: { type: string, nullable: true, description: "GTFS-Zeit HH:MM:SS, kann > 24:00:00 sein" }
        departure_time: { type: string, nullable: true, description: "GTFS-Zeit HH:MM:SS, kann > 24:00:00 sein" }
        stop_sequence: { type: integer }

    GtfsCalendar:
      type: object
      description: "GTFS calendar.txt — reguläres Wochenmuster der Betriebstage"
      required: [service_id, monday, tuesday, wednesday, thursday, friday, saturday, sunday, start_date, end_date]
      properties:
        service_id: { type: string }
        monday: { type: integer, enum: [0, 1] }
        tuesday: { type: integer, enum: [0, 1] }
        wednesday: { type: integer, enum: [0, 1] }
        thursday: { type: integer, enum: [0, 1] }
        friday: { type: integer, enum: [0, 1] }
        saturday: { type: integer, enum: [0, 1] }
        sunday: { type: integer, enum: [0, 1] }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }

    GtfsCalendarDate:
      type: object
      required: [service_id, date, exception_type]
      properties:
        service_id: { type: string }
        date: { type: string, format: date }
        exception_type: { type: integer, enum: [1, 2] }

    GtfsFeedInfo:
      type: object
      description: "Optionaler Feed-Datenstand aus feed_info.txt"
      properties:
        feed_version: { type: string, nullable: true }
        feed_start_date: { type: string, format: date, nullable: true }
        feed_end_date: { type: string, format: date, nullable: true }

    ImportStartRequest:
      type: object
      description: >
        Startet einen Import-Lauf mit den Basistabellen (ohne stop_times).
        Body darf gzip-komprimiert gesendet werden (Header `Content-Encoding: gzip`).
      required: [routes, stops, trips, calendar_dates]
      properties:
        routes: { type: array, items: { $ref: '#/components/schemas/GtfsRoute' } }
        stops: { type: array, items: { $ref: '#/components/schemas/GtfsStop' } }
        trips: { type: array, items: { $ref: '#/components/schemas/GtfsTrip' } }
        calendar: { type: array, items: { $ref: '#/components/schemas/GtfsCalendar' } }
        calendar_dates: { type: array, items: { $ref: '#/components/schemas/GtfsCalendarDate' } }
        feed_info: { $ref: '#/components/schemas/GtfsFeedInfo' }

    StopTimesChunkRequest:
      type: object
      description: >
        Ein Chunk an stop_times für einen laufenden Import.
        Body darf gzip-komprimiert gesendet werden (Header `Content-Encoding: gzip`).
      required: [stop_times]
      properties:
        stop_times: { type: array, items: { $ref: '#/components/schemas/GtfsStopTime' } }

    GtfsImportRun:
      type: object
      required: [id, status, started_at]
      properties:
        id: { type: integer }
        status: { type: string, enum: [running, success, failed] }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
        feed_version: { type: string, nullable: true }
        feed_start_date: { type: string, format: date, nullable: true }
        feed_end_date: { type: string, format: date, nullable: true }
        counts:
          type: object
          nullable: true
          properties:
            routes: { type: integer }
            stops: { type: integer }
            trips: { type: integer }
            stop_times: { type: integer }
            calendar_dates: { type: integer }
        error_message: { type: string, nullable: true }

    GtfsImportStatusResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [current, runs, pagination]
          properties:
            pagination:
              type: object
              required: [current_page, per_page, total, last_page]
              properties:
                current_page: { type: integer }
                per_page: { type: integer }
                total: { type: integer }
                last_page: { type: integer }
            current:
              type: object
              description: "Aktueller Datenbestand und letzter erfolgreicher Stand"
              properties:
                last_success_at: { type: string, format: date-time, nullable: true }
                feed_version: { type: string, nullable: true }
                feed_start_date: { type: string, format: date, nullable: true }
                feed_end_date: { type: string, format: date, nullable: true }
                tables:
                  type: object
                  properties:
                    routes: { type: integer }
                    stops: { type: integer }
                    trips: { type: integer }
                    stop_times: { type: integer }
                    calendar: { type: integer }
                    calendar_dates: { type: integer }
            runs:
              type: array
              items: { $ref: '#/components/schemas/GtfsImportRun' }

    GtfsImportRunResponse:
      type: object
      description: "Zusammenfassung eines Laufs (Start/Chunk/Abschluss)"
      required: [data]
      properties:
        data:
          type: object
          required: [run_id, status, imported]
          properties:
            run_id: { type: integer }
            status: { type: string, enum: [running, success, failed] }
            imported:
              type: object
              required: [routes, stops, trips, stop_times, calendar_dates]
              properties:
                routes: { type: integer }
                stops: { type: integer }
                trips: { type: integer }
                stop_times: { type: integer }
                calendar: { type: integer }
                calendar_dates: { type: integer }

    Line:
      type: object
      description: "MVB-Linie für die Lines-API: roher GTFS route_type plus abgeleiteter Modus-Slug"
      required: [route_id, route_short_name, route_type, mode]
      properties:
        route_id: { type: string }
        route_short_name: { type: string }
        route_type: { type: integer, description: "Roher GTFS route_type (0 = Tram, 3 = Bus)" }
        mode:
          type: string
          enum: [tram, bus, other]
          description: "Aus route_type abgeleiteter Verkehrsmittel-Modus; unbekannte Typen → other"
        color:
          type: string
          nullable: true
          description: "Im Admin gepflegte Linienfarbe (Hex inkl. '#'); null = nicht gesetzt"

    TripCandidate:
      type: object
      description: "GTFS-Trip inkl. Linieninfo (route_short_name/route_type/mode) als Matching-Vorbereitung"
      required: [trip_id, route_id, service_id]
      properties:
        trip_id: { type: string }
        route_id: { type: string }
        route_short_name: { type: string, description: "nur gesetzt, wenn route-Relation geladen" }
        route_type: { type: integer, description: "0 = Tram, 3 = Bus" }
        mode:
          type: string
          enum: [tram, bus, other]
          description: "Aus route_type abgeleiteter Modus; nur gesetzt, wenn route-Relation geladen"
        service_id: { type: string }
        block_id: { type: string, nullable: true }
        direction_id: { type: integer, nullable: true, enum: [0, 1] }

    LineListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Line' }

    AdminLoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }

    Admin:
      type: object
      required: [id, name, email]
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string, format: email }

    AdminAuthResponse:
      type: object
      description: "Login-Antwort: Admin-Daten plus Sanctum-Token"
      required: [data, token, token_type]
      properties:
        data: { $ref: '#/components/schemas/Admin' }
        token: { type: string, description: "Sanctum Plain-Text-Token (Bearer)" }
        token_type: { type: string, enum: [Bearer] }

    AdminResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Admin' }

    StopListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/GtfsStop' }

    TripListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/TripCandidate' }

    LineTripItem:
      type: object
      required: [trip_id, service_id]
      properties:
        trip_id: { type: string }
        service_id: { type: string }
        departure_time: { type: string, nullable: true, description: "Abfahrt am Starthalt (GTFS-Lokalzeit HH:MM:SS, kann >24h sein)" }
        arrival_time: { type: string, nullable: true, description: "Ankunft am Zielhalt (GTFS-Lokalzeit)" }

    LineTripGroup:
      type: object
      required: [start_stop, end_stop, trip_count, trips]
      properties:
        start_stop: { type: string }
        end_stop: { type: string }
        trip_count: { type: integer }
        trips:
          type: array
          items: { $ref: '#/components/schemas/LineTripItem' }

    LineTripsResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [line, trip_count, groups]
          properties:
            line: { type: string }
            trip_count: { type: integer }
            groups:
              type: array
              items: { $ref: '#/components/schemas/LineTripGroup' }

paths:
  /api/v1/lines:
    get:
      operationId: listLines
      summary: Alle MVB-Linien (Tram + Bus)
      description: Öffentliche Stammdaten — kein Auth im MVP.
      tags: [Stammdaten]
      responses:
        '200':
          description: Liste aller Linien
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineListResponse' }

  /api/v1/lines/{line}/trips:
    get:
      operationId: listLineTrips
      summary: Fahrten einer Linie, gruppiert nach Starthaltestelle → Zielhaltestelle
      description: >
        Alle Fahrten der Linie, gruppiert nach erstem und letztem Halt (Richtung/Variante).
        Innerhalb einer Gruppe nach Abfahrtszeit sortiert. Öffentliche Stammdaten — kein Auth.
      tags: [Stammdaten]
      parameters:
        - name: line
          in: path
          required: true
          description: Linienbezeichnung (route_short_name), z. B. "1" oder "73".
          schema: { type: string }
      responses:
        '200':
          description: Fahrten der Linie, gruppiert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineTripsResponse' }

  /api/v1/stops:
    get:
      operationId: listStops
      summary: Alle MVB-Haltestellen
      description: Öffentliche Stammdaten — kein Auth im MVP. Nach Name sortiert.
      tags: [Stammdaten]
      responses:
        '200':
          description: Liste aller Haltestellen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StopListResponse' }

  /api/v1/trips:
    get:
      operationId: listTrips
      summary: GTFS-Trips nach Betriebstag, Linie und Haltestelle filtern
      description: >
        Liefert gefilterte Trips als Matching-Vorbereitung (SPEC §3.2, Stufen 1–3).
        Alle Filter sind optional und werden mit UND verknüpft. Der zeitliche
        Feinfilter (time=, ±Zeitfenster) folgt erst in I-05.
      tags: [Stammdaten]
      parameters:
        - name: date
          in: query
          required: false
          description: Betriebstag im Format YYYY-MM-DD. Filtert auf an diesem Tag gültige service_ids.
          schema: { type: string, format: date }
        - name: line
          in: query
          required: false
          description: Linienbezeichnung (route_short_name), z.B. "1" oder "73".
          schema: { type: string }
        - name: stop
          in: query
          required: false
          description: stop_id einer Haltestelle, die der Trip bedienen muss.
          schema: { type: string }
      responses:
        '200':
          description: Gefilterte Trip-Liste
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TripListResponse' }
        '422':
          description: Ungültiger Filter (z.B. falsches Datumsformat)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }


  /api/v1/admin/login:
    post:
      operationId: adminLogin
      summary: Admin-Login (Single-Admin), gibt Sanctum-Token zurück
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminLoginRequest' }
      responses:
        '200':
          description: Login erfolgreich
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAuthResponse' }
        '401':
          description: Ungültige Zugangsdaten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Validierungsfehler
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/logout:
    post:
      operationId: adminLogout
      summary: Aktuellen Admin-Token widerrufen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '204':
          description: Token widerrufen
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/me:
    get:
      operationId: adminMe
      summary: Angemeldeten Admin abfragen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Admin-Daten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/imports:
    get:
      operationId: adminListImports
      summary: Import-Historie & Datenstand fürs Admin-Frontend
      description: Gleiche Daten wie GET /api/v1/collector/imports, aber Sanctum-geschützt (Browser, ohne Collector-Token).
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 1, minimum: 1 }
        - name: per_page
          in: query
          required: false
          schema: { type: integer, default: 10, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Historie & aktueller Datenstand
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GtfsImportStatusResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/line-colors/{line}:
    put:
      operationId: setLineColor
      summary: Linienfarbe setzen/ändern
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: line
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [color]
              properties:
                color: { type: string, description: "Hex inkl. '#', z. B. #c9346c" }
      responses:
        '200':
          description: Farbe gespeichert
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      route_short_name: { type: string }
                      color: { type: string }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: Ungültige Farbe, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      operationId: resetLineColor
      summary: Linienfarbe zurücksetzen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: line
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Farbe entfernt }
        '401': { description: Nicht authentifiziert, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /api/v1/collector/imports:
    post:
      operationId: startGtfsImport
      summary: GTFS-Import starten (Basistabellen)
      description: >
        Startet einen Import-Lauf und speichert die Basistabellen idempotent per Upsert.
        Die stop_times folgen separat in Chunks. Body darf gzip-komprimiert sein.
      tags: [Collector]
      security:
        - CollectorToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportStartRequest'
      responses:
        '201':
          description: Lauf gestartet (Status running)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GtfsImportRunResponse' }
        '400':
          description: Ungültiger gzip-Body
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Fehlender oder ungültiger Bearer-Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Validierungsfehler im Payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    get:
      operationId: listGtfsImports
      summary: Import-Historie und aktueller Datenstand
      description: >
        Liefert die letzten GTFS-Import-Läufe (Status, Zeitpunkte, Counts, Feed-Version)
        sowie den aktuellen Datenbestand. Dient der Nachvollziehbarkeit des Imports.
      tags: [Collector]
      security:
        - CollectorToken: []
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 1, minimum: 1 }
        - name: per_page
          in: query
          required: false
          schema: { type: integer, default: 10, minimum: 1, maximum: 100 }
          description: Läufe pro Seite
      responses:
        '200':
          description: Import-Historie und Datenstand
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GtfsImportStatusResponse'
        '401':
          description: Fehlender oder ungültiger Bearer-Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/collector/imports/{run}/stop-times:
    post:
      operationId: appendStopTimes
      summary: stop_times-Chunk an einen laufenden Import anhängen
      description: Hängt einen Chunk an stop_times an. Body darf gzip-komprimiert sein.
      tags: [Collector]
      security:
        - CollectorToken: []
      parameters:
        - name: run
          in: path
          required: true
          schema: { type: integer }
          description: ID des laufenden Imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopTimesChunkRequest'
      responses:
        '200':
          description: Chunk gespeichert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GtfsImportRunResponse' }
        '401':
          description: Fehlender oder ungültiger Bearer-Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Lauf ist bereits abgeschlossen oder fehlgeschlagen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/collector/imports/{run}/finish:
    post:
      operationId: finishGtfsImport
      summary: Import-Lauf abschließen
      description: Markiert den Lauf als erfolgreich abgeschlossen.
      tags: [Collector]
      security:
        - CollectorToken: []
      parameters:
        - name: run
          in: path
          required: true
          schema: { type: integer }
          description: ID des laufenden Imports
      responses:
        '200':
          description: Lauf abgeschlossen (Status success)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GtfsImportRunResponse' }
        '401':
          description: Fehlender oder ungültiger Bearer-Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Lauf ist bereits abgeschlossen oder fehlgeschlagen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
