openapi: 3.1.0
info:
  title: MD-Takt API
  version: 0.1.0
  description: API zur manuellen Umlauf-Rekonstruktion für Magdeburger Straßenbahnen (MVB).

servers:
  - url: https://api.mdtakt.strassenbahn-magdeburg.de
    description: Production
  - url: http://localhost:8000
    description: Local

components:
  securitySchemes:
    CollectorToken:
      type: http
      scheme: bearer
      description: Statischer API-Key für Collector-Endpunkte
    AdminToken:
      type: http
      scheme: bearer
      description: Laravel-Sanctum-Token (Admin-Schaltzentrale); via POST /api/v1/admin/login erhalten

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
            message:
              type: string

    GtfsRoute:
      type: object
      required: [route_id, route_short_name, route_type]
      properties:
        route_id: { type: string }
        route_short_name: { type: string }
        route_type: { type: integer, description: "GTFS route_type; 0 = Tram, 3 = Bus (alle MVB-Verkehrsmittel)" }

    GtfsStop:
      type: object
      required: [stop_id, stop_name]
      properties:
        stop_id: { type: string }
        stop_name: { type: string }
        lat: { type: number, nullable: true }
        lon: { type: number, nullable: true }

    GtfsTrip:
      type: object
      required: [trip_id, route_id, service_id]
      properties:
        trip_id: { type: string }
        route_id: { type: string }
        service_id: { type: string }
        block_id: { type: string, nullable: true }
        direction_id: { type: integer, nullable: true, enum: [0, 1] }

    GtfsStopTime:
      type: object
      required: [trip_id, stop_id, stop_sequence]
      properties:
        trip_id: { type: string }
        stop_id: { type: string }
        arrival_time: { type: string, nullable: true, description: "GTFS-Zeit HH:MM:SS, kann > 24:00:00 sein" }
        departure_time: { type: string, nullable: true, description: "GTFS-Zeit HH:MM:SS, kann > 24:00:00 sein" }
        stop_sequence: { type: integer }

    GtfsCalendar:
      type: object
      description: "GTFS calendar.txt — reguläres Wochenmuster der Betriebstage"
      required: [service_id, monday, tuesday, wednesday, thursday, friday, saturday, sunday, start_date, end_date]
      properties:
        service_id: { type: string }
        monday: { type: integer, enum: [0, 1] }
        tuesday: { type: integer, enum: [0, 1] }
        wednesday: { type: integer, enum: [0, 1] }
        thursday: { type: integer, enum: [0, 1] }
        friday: { type: integer, enum: [0, 1] }
        saturday: { type: integer, enum: [0, 1] }
        sunday: { type: integer, enum: [0, 1] }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }

    GtfsCalendarDate:
      type: object
      required: [service_id, date, exception_type]
      properties:
        service_id: { type: string }
        date: { type: string, format: date }
        exception_type: { type: integer, enum: [1, 2] }

    GtfsFeedInfo:
      type: object
      description: "Optionaler Feed-Datenstand aus feed_info.txt"
      properties:
        feed_version: { type: string, nullable: true }
        feed_start_date: { type: string, format: date, nullable: true }
        feed_end_date: { type: string, format: date, nullable: true }

    ImportStartRequest:
      type: object
      description: >
        Startet einen Import-Lauf mit den Basistabellen (ohne stop_times).
        Body darf gzip-komprimiert gesendet werden (Header `Content-Encoding: gzip`).
      required: [routes, stops, trips, calendar_dates]
      properties:
        routes: { type: array, items: { $ref: '#/components/schemas/GtfsRoute' } }
        stops: { type: array, items: { $ref: '#/components/schemas/GtfsStop' } }
        trips: { type: array, items: { $ref: '#/components/schemas/GtfsTrip' } }
        calendar: { type: array, items: { $ref: '#/components/schemas/GtfsCalendar' } }
        calendar_dates: { type: array, items: { $ref: '#/components/schemas/GtfsCalendarDate' } }
        feed_info: { $ref: '#/components/schemas/GtfsFeedInfo' }

    StopTimesChunkRequest:
      type: object
      description: >
        Ein Chunk an stop_times für einen laufenden Import.
        Body darf gzip-komprimiert gesendet werden (Header `Content-Encoding: gzip`).
      required: [stop_times]
      properties:
        stop_times: { type: array, items: { $ref: '#/components/schemas/GtfsStopTime' } }

    GtfsImportRun:
      type: object
      required: [id, status, started_at]
      properties:
        id: { type: integer }
        status: { type: string, enum: [running, success, failed] }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
        feed_version: { type: string, nullable: true }
        feed_start_date: { type: string, format: date, nullable: true }
        feed_end_date: { type: string, format: date, nullable: true }
        counts:
          type: object
          nullable: true
          properties:
            routes: { type: integer }
            stops: { type: integer }
            trips: { type: integer }
            stop_times: { type: integer }
            calendar_dates: { type: integer }
        error_message: { type: string, nullable: true }

    GtfsImportStatusResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [current, runs, pagination]
          properties:
            pagination:
              type: object
              required: [current_page, per_page, total, last_page]
              properties:
                current_page: { type: integer }
                per_page: { type: integer }
                total: { type: integer }
                last_page: { type: integer }
            current:
              type: object
              description: "Aktueller Datenbestand und letzter erfolgreicher Stand"
              properties:
                last_success_at: { type: string, format: date-time, nullable: true }
                feed_version: { type: string, nullable: true }
                feed_start_date: { type: string, format: date, nullable: true }
                feed_end_date: { type: string, format: date, nullable: true }
                tables:
                  type: object
                  properties:
                    routes: { type: integer }
                    stops: { type: integer }
                    trips: { type: integer }
                    stop_times: { type: integer }
                    calendar: { type: integer }
                    calendar_dates: { type: integer }
            runs:
              type: array
              items: { $ref: '#/components/schemas/GtfsImportRun' }

    GtfsImportRunResponse:
      type: object
      description: "Zusammenfassung eines Laufs (Start/Chunk/Abschluss)"
      required: [data]
      properties:
        data:
          type: object
          required: [run_id, status, imported]
          properties:
            run_id: { type: integer }
            status: { type: string, enum: [running, success, failed] }
            imported:
              type: object
              required: [routes, stops, trips, stop_times, calendar_dates]
              properties:
                routes: { type: integer }
                stops: { type: integer }
                trips: { type: integer }
                stop_times: { type: integer }
                calendar: { type: integer }
                calendar_dates: { type: integer }

    Line:
      type: object
      description: >
        MVB-Linie, identifiziert über route_short_name — eine Zeile je Linienbezeichnung,
        nicht je GTFS-Route. Zeigt eine Bezeichnung auf mehrere Routen (Schienenersatzverkehr
        unter derselben Nummer), beschreiben route_type/mode die prägende Route (die mit den
        meisten Fahrten) und modes/route_ids alle beteiligten.
      required: [route_short_name, route_type, mode, modes, route_ids]
      properties:
        route_short_name: { type: string }
        route_type: { type: integer, description: "Roher GTFS route_type der prägenden Route (0 = Tram, 3 = Bus)" }
        mode:
          type: string
          enum: [tram, bus, other]
          description: "Aus route_type abgeleiteter Verkehrsmittel-Modus; unbekannte Typen → other"
        modes:
          type: array
          items: { type: string, enum: [tram, bus, other] }
          description: "Alle Verkehrsmittel dieser Linienbezeichnung, alphabetisch"
          example: ['bus', 'tram']
        route_ids:
          type: array
          items: { type: string }
          description: "Alle GTFS-route_ids, die unter dieser Bezeichnung verkehren"
          example: ['17551', '18099']
        color:
          type: string
          nullable: true
          description: "Im Admin gepflegte Linienfarbe (Hex inkl. '#'); null = nicht gesetzt"

    TripCandidate:
      type: object
      description: "GTFS-Trip inkl. Linieninfo (route_short_name/route_type/mode) als Matching-Vorbereitung"
      required: [trip_id, route_id, service_id]
      properties:
        trip_id: { type: string }
        route_id: { type: string }
        route_short_name: { type: string, description: "nur gesetzt, wenn route-Relation geladen" }
        route_type: { type: integer, description: "0 = Tram, 3 = Bus" }
        mode:
          type: string
          enum: [tram, bus, other]
          description: "Aus route_type abgeleiteter Modus; nur gesetzt, wenn route-Relation geladen"
        service_id: { type: string }
        block_id: { type: string, nullable: true }
        direction_id: { type: integer, nullable: true, enum: [0, 1] }

    LineListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Line' }

    AdminLoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }

    Admin:
      type: object
      required: [id, name, email]
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string, format: email }

    AdminAuthResponse:
      type: object
      description: "Login-Antwort: Admin-Daten plus Sanctum-Token"
      required: [data, token, token_type]
      properties:
        data: { $ref: '#/components/schemas/Admin' }
        token: { type: string, description: "Sanctum Plain-Text-Token (Bearer)" }
        token_type: { type: string, enum: [Bearer] }

    AdminResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Admin' }

    SchoolHoliday:
      type: object
      required: [id, name, start_date, end_date]
      properties:
        id: { type: integer }
        name: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }

    SchoolHolidayRequest:
      type: object
      required: [name, start_date, end_date]
      properties:
        name: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date, description: "≥ start_date" }

    HolidaysResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [year, holidays]
          properties:
            year: { type: integer }
            holidays:
              type: array
              items:
                type: object
                properties:
                  date: { type: string, format: date }
                  name: { type: string }

    StopListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/GtfsStop' }
        meta: { $ref: '#/components/schemas/SourceMeta' }

    TripListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/TripCandidate' }

    FahrplanTyp:
      type: string
      description: >
        Betriebstag-Klasse (Fahrplantyp). Ergibt sich aus dem Kalenderdatum:
        Feiertage und Sonntage → so_feiertag, Samstage → sa, Mo-Fr je nach
        Schulferien → mo_fr_ferien oder mo_fr.
      enum: [mo_fr, mo_fr_ferien, sa, so_feiertag]

    LineVersionInterval:
      type: object
      required: [valid_from, valid_to, from_confirmed, to_confirmed]
      properties:
        valid_from: { type: string, format: date }
        valid_to: { type: string, format: date }
        from_confirmed:
          type: boolean
          description: >
            true = der Wechsel auf diese Version wurde innerhalb eines Feed-Fensters
            beobachtet, die Grenze ist echt. false = die Version lag an der Fensterkante an,
            der wahre Beginn liegt davor ("mindestens seit").
        to_confirmed: { type: boolean, description: 'Analog für das Ende des Intervalls.' }

    LineVersion:
      type: object
      required: [id, line, day_type, version_no, fingerprint, intervals]
      properties:
        id: { type: integer }
        line: { type: string }
        day_type: { $ref: '#/components/schemas/FahrplanTyp' }
        day_type_label: { type: string }
        version_no: { type: integer, description: 'Fortlaufend je (Periode, Linie, Typ) — nur zur Anzeige.' }
        fingerprint: { type: string, description: 'SHA256 über die sortierten Fahrt-Signaturen; identifiziert die Version.' }
        trip_count: { type: integer, nullable: true, description: 'Konsolidierte Fahrten dieser Version; null = die Version trägt keinen Inhalt.' }
        first_seen_at: { type: string, format: date-time }
        last_seen_at: { type: string, format: date-time }
        period:
          nullable: true
          description: >
            Nur im Versionsvergleich gesetzt. Dort können die beiden Versionen aus
            verschiedenen Perioden stammen, und `version_no` beginnt je Periode wieder bei 1 —
            ohne die Periode wäre „v3 gegen v1" nicht einzuordnen.
          type: object
          required: [id, label, valid_from, status]
          properties:
            id: { type: integer }
            label: { type: string }
            valid_from: { type: string, format: date }
            status: { type: string, enum: [current, frozen] }
        intervals:
          type: array
          items: { $ref: '#/components/schemas/LineVersionInterval' }

    SchedulePeriod:
      type: object
      required: [id, label, valid_from, status, created_via]
      properties:
        id: { type: integer }
        label: { type: string }
        valid_from: { type: string, format: date }
        valid_to: { type: string, format: date, nullable: true }
        status:
          type: string
          enum: [current, frozen]
          description: >
            **Abgeleitet, nicht gespeichert.** `current` ist die Periode, die den heutigen Tag
            abdeckt; eine erst künftig beginnende bleibt `frozen`. Der Wert wird bei jeder
            Abfrage aus `valid_from`/`valid_to` gerechnet — als Spalte veraltete er, sobald ein
            Tag verging, ohne dass jemand eine Periode schrieb.
        created_via:
          type: string
          enum: [admin, offer, bootstrap]
          description: '`bootstrap` = beim ersten Konsolidierungslauf automatisch angelegt, weil noch keine Periode existierte.'

    SchedulePeriodListItem:
      allOf:
        - $ref: '#/components/schemas/SchedulePeriod'
        - type: object
          required: [line_version_count, is_deletable]
          properties:
            line_version_count:
              type: integer
              description: Zahl der Linien-Versionen, die an dieser Periode hängen.
            is_deletable:
              type: boolean
              description: Nur Perioden ohne Linien-Versionen lassen sich löschen.

    SchedulePeriodRequest:
      type: object
      required: [label, valid_from]
      properties:
        label:
          type: string
          maxLength: 255
          example: Jahresfahrplan 2026/27
        valid_from:
          type: string
          format: date
          description: >
            Erster Geltungstag. Muss netzweit eindeutig sein — zwei Perioden dürfen nicht am selben
            Tag beginnen. `valid_to` wird **nicht** gesetzt: Es ergibt sich aus dem Beginn der
            Folgeperiode, die letzte Periode bleibt offen.

    SchedulePeriodListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/SchedulePeriodListItem' }

    SchedulePeriodResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/SchedulePeriodListItem' }

    PeriodChangeOffer:
      type: object
      required: [id, suggested_from, changed_line_count, active_line_count, lines, status]
      properties:
        id: { type: integer }
        suggested_from:
          type: string
          format: date
          description: Der beobachtete Wechseltag — Beginn der Periode, falls der Vorschlag angenommen wird.
        changed_line_count: { type: integer }
        active_line_count:
          type: integer
          description: Linien, die an diesem Tag überhaupt verkehren — Bezugsgröße der Schwelle.
        share:
          type: number
          nullable: true
          description: 'Anteil `changed/active`; ein Vorschlag entsteht ab `PERIOD_OFFER_MIN_SHARE` (Vorgabe 0.33).'
        lines:
          type: array
          items: { type: string }
        observed_until:
          type: string
          format: date
          description: Bis wohin die Beobachtung hinter dem Wechseltag reicht.
        single_day_observation:
          type: boolean
          description: >
            `true`, wenn `observed_until` dem Wechseltag entspricht — der Wechsel liegt dann am
            Rand des Feed-Fensters und ruht auf einer **einzigen** Beobachtung. Ein Fensterrand
            ist kein Fahrplanwechsel (§5.4 b); erst der nächste Import entscheidet. Der Wert wird
            zur Lesezeit berechnet und verschwindet von selbst, sobald ein späterer Import den
            Zeitraum dahinter abdeckt.
        status: { type: string, enum: [open, accepted, declined] }
        status_label: { type: string }
        decided_at: { type: string, format: date-time, nullable: true }

    PeriodChangeOfferListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/PeriodChangeOffer' }

    PeriodChangeOfferResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/PeriodChangeOffer' }

    PeriodChangeAcceptRequest:
      type: object
      required: [label]
      properties:
        label:
          type: string
          maxLength: 255
          description: Bezeichnung der neuen Periode. Ihr Beginn steht bereits fest (`suggested_from`).
          example: Jahresfahrplan 2026/27

    CoverageRange:
      type: object
      required: [from, to, from_confirmed, to_confirmed]
      properties:
        from: { type: string, format: date }
        to: { type: string, format: date }
        from_confirmed:
          type: boolean
          description: '`false` = die Grenze lag an einer Feed-Fensterkante und ist nur eine Untergrenze (§5.4 b).'
        to_confirmed: { type: boolean }

    CoverageGap:
      type: object
      required: [from, to, days]
      properties:
        from: { type: string, format: date }
        to: { type: string, format: date }
        days:
          type: integer
          description: Zahl der fehlenden Tage **dieses Fahrplantyps** — Wochenenden zählen für `mo_fr` nicht mit.

    CoverageDayType:
      type: object
      required: [day_type, day_type_label, ranges, gaps, versions_total, versions_without_content]
      properties:
        day_type: { $ref: '#/components/schemas/FahrplanTyp' }
        day_type_label: { type: string }
        ranges:
          type: array
          items: { $ref: '#/components/schemas/CoverageRange' }
        gaps:
          type: array
          items: { $ref: '#/components/schemas/CoverageGap' }
        versions_total: { type: integer }
        versions_without_content:
          type: integer
          description: Versionen, für die zwar ein Zeitraum bekannt ist, aber keine Fahrten konsolidiert wurden.

    CoverageResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [window, totals, lines]
          properties:
            window:
              type: object
              nullable: true
              properties:
                from: { type: string, format: date }
                to: { type: string, format: date }
            totals:
              type: object
              properties:
                lines: { type: integer }
                versions: { type: integer }
                versions_without_content: { type: integer }
                consolidated_trips: { type: integer }
            lines:
              type: array
              items:
                type: object
                required: [line, day_types]
                properties:
                  line: { type: string }
                  day_types:
                    type: array
                    items: { $ref: '#/components/schemas/CoverageDayType' }

    ScheduleSource:
      type: string
      enum: [consolidated, raw]
      default: consolidated
      description: >
        Aus welchem Bestand geantwortet wird. `consolidated` (Vorgabe) ist der dauerhafte
        Bestand, der über viele Importe zusammenwächst und **jedes je beobachtete Datum**
        kennt. `raw` ist der importierte GTFS-Bestand — nur das aktuelle Feed-Fenster von rund
        drei Wochen, bei jedem Import ersetzt.


        Die Admin-Schaltzentrale kann umschalten (der Roh-Bestand bleibt der Kontrollblick auf
        das, was der letzte Import wirklich lieferte); der öffentliche Viewer sieht
        ausschließlich das Konsolidat.

    SourceMeta:
      type: object
      required: [source]
      properties:
        source: { $ref: '#/components/schemas/ScheduleSource' }

    ConsolidatedTrip:
      type: object
      required: [id, signature, route_short_name, route_type, mode, day_type, version_no]
      description: >
        Eine Fahrt aus dem Konsolidat. Bewusst **ohne** `trip_id`, `service_id` und `block_id`:
        Das sind Begriffe des Roh-Bestands, die gtfs.de pro Build neu vergibt. Dauerhaft sind
        die `signature` und die Version, in der die Fahrt steht.
      properties:
        id: { type: integer }
        signature:
          type: string
          description: SHA256 über Linie, Fahrplantyp und Abfahrts-Zeitsequenz — stabil über Builds hinweg.
        route_short_name: { type: string }
        route_type: { type: integer }
        mode: { type: string }
        day_type: { $ref: '#/components/schemas/FahrplanTyp' }
        version_no: { type: integer }
        start_stop: { type: string, nullable: true }
        end_stop: { type: string, nullable: true }
        departure_time: { type: string, nullable: true, example: '07:00:00' }
        arrival_time: { type: string, nullable: true, example: '07:25:00' }

    ConsolidatedTripListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/ConsolidatedTrip' }
        meta: { $ref: '#/components/schemas/SourceMeta' }

    ConsolidatedStop:
      type: object
      required: [id, name]
      description: >
        Ein Halt des Konsolidats — eine Zeile je **physischem Punkt**. Steige sind bewusst
        verschmolzen (FAHRPLANPERIODEN §5.1): 18 Halte des Realbestands liegen auf exakt
        identischen Koordinaten, und `direction_id` ist im gesamten Feed NULL. Die Richtung
        ergibt sich aus der Position in der Fahrt-Sequenz, nicht aus dem Halt.
      properties:
        id: { type: integer }
        name:
          type: string
          description: Jüngster bekannter Name ("latest wins") aus `consolidated_stop_versions`.
        lat: { type: number, nullable: true }
        lon: { type: number, nullable: true }

    ConsolidatedStopListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/ConsolidatedStop' }
        meta: { $ref: '#/components/schemas/SourceMeta' }

    Course:
      type: object
      required: [id, period_id, day_type, number, trip_count, lines]
      description: >
        Ein **Umlauf** als benennbare Einheit. Die Kursnummer gehoert ihm, nicht der Linie:
        Wechselt ein Fahrzeug in Sudenburg von der 1 auf die 13, bleibt die Nummer und nur der
        Anzeige-Praefix wechselt (`1/03` -> `13/03`, KURSE §2 K1).
      properties:
        id: { type: integer }
        period_id: { type: integer }
        day_type: { $ref: '#/components/schemas/FahrplanTyp' }
        day_type_label: { type: string }
        number: { type: string, maxLength: 8, example: '03' }
        note: { type: string, nullable: true }
        trip_count: { type: integer }
        lines:
          type: array
          description: Die Linien, die dieser Umlauf beruehrt — mehr als eine ist der Normalfall.
          items: { type: string }
        first_departure: { type: string, nullable: true, example: '06:14:00' }
        last_arrival: { type: string, nullable: true, example: '23:41:00' }
        duplicate:
          type: boolean
          description: >
            Ein anderer Umlauf im selben (Periode, Fahrplantyp) traegt dieselbe Nummer **auf einer
            gemeinsamen Linie**. Die Kursnummer ist je Linie bzw. Linienkombination eindeutig, nicht
            netzweit (KURSE §2 K3): Die „2" der Linie 8 ist ein anderer Umlauf als die „2" der Linie
            6 und wird hier nicht gemeldet. Gemeldet wird auch ein Kurs ohne Fahrten — er haengt an
            keiner Linie und kollidiert deshalb mit jeder.

    CourseListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Course' }

    CourseAssignmentResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [course, trips_assigned, trip_ids]
          properties:
            course:
              allOf: [{ $ref: '#/components/schemas/Course' }]
              nullable: true
              description: '`null`, wenn der Kurs geloest wurde.'
            trips_assigned:
              type: integer
              description: >
                Zahl der betroffenen Fahrten. Der Kurs gilt immer fuer die **ganze Kette**, nie
                fuer eine einzelne Fahrt — er ist ein Etikett am Umlauf (KURSE §2 K2).
            trip_ids:
              type: array
              items: { type: integer }

    CourseChainTrip:
      type: object
      description: Eine Fahrt innerhalb eines Umlaufs, in Fahrreihenfolge.
      required: [id, line, mode, departure_time, arrival_time, linked_to_previous]
      properties:
        id: { type: integer }
        line: { type: string }
        mode: { type: string, enum: [tram, bus, other] }
        version_no: { type: integer }
        start_stop: { type: string, nullable: true }
        end_stop: { type: string, nullable: true }
        departure_time: { type: string, nullable: true }
        arrival_time: { type: string, nullable: true }
        gap_before_seconds:
          type: integer
          nullable: true
          description: >
            Abstand zur Vorfahrt in Betriebstag-Sekunden; `null` bei der ersten Fahrt. Auf einer
            Nachtlinie richtig ueber Mitternacht hinweg (23:20 -> 00:19 ergibt 3540).
        linked_to_previous:
          type: boolean
          description: >
            Steht zwischen dieser und der Vorfahrt ein Anschluss? **Zusammen mit
            `gap_before_seconds` zu lesen:** Ein grosser Abstand *mit* Anschluss ist eine lange
            Wende, ein Abstand *ohne* Anschluss eine gerissene Kette. Ein Umlauf muss keine
            durchgehende Kette sein — loest man einen Anschluss, bleibt der Kurs an beiden Teilen.

    LineCourseOverviewResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [line, day_type, courses, unassigned, summary]
          properties:
            line: { type: string }
            period:
              type: object
              properties:
                id: { type: integer }
                label: { type: string }
                status: { type: string, enum: [current, frozen] }
            day_type: { $ref: '#/components/schemas/FahrplanTyp' }
            day_type_label: { type: string }
            courses:
              type: array
              items:
                type: object
                required: [id, number, trip_count, lines, trips, breaks]
                properties:
                  id: { type: integer }
                  number: { type: string }
                  note: { type: string, nullable: true }
                  duplicate: { type: boolean }
                  trip_count: { type: integer }
                  lines:
                    type: array
                    description: Mehr als eine ist der Normalfall — ein Umlauf laeuft ueber Linien hinweg.
                    items: { type: string }
                  first_departure: { type: string, nullable: true }
                  last_arrival: { type: string, nullable: true }
                  breaks:
                    type: integer
                    description: Stellen, an denen die Kette reisst — Fahrten ohne Anschluss zur Vorfahrt.
                  trips:
                    type: array
                    items: { $ref: '#/components/schemas/CourseChainTrip' }
            unassigned:
              type: array
              description: Fahrten dieser Linie im Strang, die zu keinem Umlauf gehoeren.
              items: { $ref: '#/components/schemas/CourseChainTrip' }
            summary:
              type: object
              properties:
                courses: { type: integer }
                assigned_trips: { type: integer }
                unassigned_trips: { type: integer }
                breaks: { type: integer }

    CourseCarryoverResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [from, to, summary, blocked, lost]
          properties:
            from:
              type: object
              properties:
                id: { type: integer }
                line: { type: string }
                day_type: { $ref: '#/components/schemas/FahrplanTyp' }
                day_type_label: { type: string }
                version_no: { type: integer }
            to:
              type: object
              properties:
                id: { type: integer }
                line: { type: string }
                day_type: { $ref: '#/components/schemas/FahrplanTyp' }
                day_type_label: { type: string }
                version_no: { type: integer }
            summary:
              type: object
              properties:
                paired: { type: integer, description: Fahrten mit einer Entsprechung in der alten Version. }
                unchanged: { type: integer }
                changed: { type: integer, description: Gepaart, aber zeitlich verschoben. }
                added: { type: integer, description: Neue Fahrten ohne Entsprechung — bleiben ohne Pflege. }
                removed: { type: integer }
                courses_carried: { type: integer }
                course_numbers: { type: integer, description: Zahl der verschiedenen Kursnummern darin. }
                links_carried: { type: integer }
                terminals_carried: { type: integer, description: Aus- und Einruecken. }
                blocked: { type: integer }
                lost: { type: integer }
            blocked:
              type: array
              description: >
                Anschluesse, die sich nicht uebertragen lassen. Das trifft jeden Anschluss, dessen
                Gegenfahrt **ausserhalb** dieser Version liegt — also den Linienwechsel-Fall: Die
                Gegenfahrt haengt noch an der alten Fahrt, und ein Fahrzeug hat hoechstens einen
                Vorgaenger. Sie zu verschieben naehme der alten Version ihre Kette, die fuer ihre
                verbliebenen Gueltigkeitstage weiter stimmt.
              items:
                type: object
                properties:
                  trip: { allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }], nullable: true }
                  partner: { allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }], nullable: true }
                  reason: { type: string }
            lost:
              type: array
              description: Entscheidungen an Fahrten, die es in der neuen Version nicht mehr gibt.
              items:
                type: object
                properties:
                  kind: { type: string, enum: [link, start, end] }
                  trip: { allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }], nullable: true }

    CourseSequenceEntry:
      type: object
      required: [column, number, trip, chain_trip_ids, chain_trip_count, outside_range]
      description: >
        Eine geplante Kursvergabe bzw. -entnahme. Gefuehrt wird sie je **Kette**, nicht je Spalte:
        Der Kurs ist ein Etikett am Umlauf, und `CourseService::assign()`/`detach()` schreiben
        immer die ganze Kette (KURSE §2 K2). `column` nennt die Spalte, an der die Kette im
        markierten Bereich haengt.
      properties:
        column:
          type: integer
          description: Nullbasierter Index in `direction.trips` — dieselbe Reihenfolge, die die Matrix zeigt.
        number: { type: string, example: '03' }
        trip: { $ref: '#/components/schemas/StopLinkTrip' }
        chain_trip_ids:
          type: array
          items: { type: integer }
        chain_trip_count: { type: integer }
        outside_range:
          type: array
          description: >
            Die Fahrten dieser Kette, die **nicht** im markierten Spaltenbereich liegen — die
            Gegenrichtung, oder eine andere Linie der Kette. Sie werden mitgeschrieben, und genau
            deshalb stehen sie hier: Vier markierte Spalten koennen zwoelf Fahrten treffen.
          items: { $ref: '#/components/schemas/StopLinkTrip' }
        course:
          allOf: [{ $ref: '#/components/schemas/Course' }]
          nullable: true
          description: Nur beim Anwenden gesetzt; bei `action=clear` immer `null`.

    CourseSequenceResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [action, line_version, direction, range, summary, unchanged, skipped, conflicts, warnings]
          properties:
            action:
              type: string
              enum: [assign, clear]
              description: >
                `assign` schreibt die Nummernfolge zyklisch ueber die markierten Spalten, `clear`
                nimmt die Kursnummern wieder ab. **Nicht symmetrisch zu `unlink`:** `clear` nimmt
                das Etikett und laesst die Kette stehen, `unlink` zerschneidet die Kette und laesst
                das Etikett stehen. Beides folgt dem Bestand.
            line_version:
              type: object
              properties:
                id: { type: integer }
                line: { type: string }
                day_type: { $ref: '#/components/schemas/FahrplanTyp' }
                day_type_label: { type: string }
                version_no: { type: integer }
            direction:
              type: object
              description: >
                Die Richtung, in der beide Markierungen liegen. Sie ist **kein Parameter**, sondern
                folgt aus `from_trip_id`; liegt `to_trip_id` in einer anderen Richtung, ist das ein
                422.
              properties:
                key: { type: string, description: '`first_stop_id>last_stop_id`' }
                start_stop: { type: string }
                end_stop: { type: string }
                trip_count: { type: integer }
            pattern:
              type: object
              nullable: true
              description: '`null` bei `action=clear`.'
              properties:
                input: { type: string, example: '01-08' }
                numbers:
                  type: array
                  description: >
                    Die entfaltete Folge. **Fuehrende Nullen der Eingabe bleiben erhalten:**
                    `01-08` ergibt `01`…`08`, `1-8` dagegen `1`…`8`. `courses.number` ist
                    `varchar(8)`, und `03` und `3` sind zwei verschiedene Kurse.
                  items: { type: string }
                count: { type: integer }
            range:
              type: object
              description: >
                Der markierte Spaltenbereich, **inklusive** beider Grenzen. Verkehrt herum
                markiert wird getauscht. Die Indizes gibt die Engine zurueck, damit das Frontend
                seine eigene Rechnung dagegen pruefen kann.
              properties:
                from_trip_id: { type: integer }
                to_trip_id: { type: integer }
                from_index: { type: integer }
                to_index: { type: integer }
                columns: { type: integer }
            summary:
              type: object
              properties:
                columns: { type: integer, description: Markierte Spalten. }
                planned: { type: integer, description: Ketten, die eine Nummer bekommen bzw. verlieren. }
                trips_affected:
                  type: integer
                  description: >
                    Fahrten, die dabei geschrieben werden — **groesser als `columns`**, weil die
                    Kette mitzieht. Das ist die Zahl, die der ausfuehrende Knopf tragen muss.
                outside_range: { type: integer }
                unchanged: { type: integer }
                skipped: { type: integer }
                conflicts: { type: integer }
                written: { type: integer, description: Nur beim Anwenden belegt (`action=assign`). }
                removed: { type: integer, description: Nur beim Anwenden belegt (`action=clear`). }
                applied: { type: boolean, description: '`false` bei der Vorschau — sie ist garantiert folgenlos.' }
            assignments:
              type: array
              description: Nur bei `action=assign`.
              items: { $ref: '#/components/schemas/CourseSequenceEntry' }
            removals:
              type: array
              description: Nur bei `action=clear`.
              items: { $ref: '#/components/schemas/CourseSequenceEntry' }
            unchanged:
              type: array
              description: >
                Die Kette traegt bereits genau die geplante Nummer. Kein Fehler — damit ist ein
                zweiter Lauf folgenlos.
              items:
                type: object
                properties:
                  column: { type: integer }
                  number: { type: string }
                  trip: { $ref: '#/components/schemas/StopLinkTrip' }
            skipped:
              type: array
              items:
                type: object
                required: [column, trip, reason_code, reason]
                properties:
                  column: { type: integer }
                  number: { type: string, nullable: true }
                  trip: { $ref: '#/components/schemas/StopLinkTrip' }
                  reason_code:
                    type: string
                    enum: [already_assigned, no_course]
                    description: >
                      `already_assigned`: Die Kette traegt schon einen **anderen** Kurs — nie
                      ueberschreiben, wer aendern will, entfernt erst. Geprueft wird auf
                      Ketten-, nicht auf Fahrt-Ebene: `assign()` schriebe sonst still genau die
                      Nummer weg, die geschont werden soll. `no_course`: bei `action=clear` eine
                      Spalte ohne Kurs.
                  reason: { type: string }
            conflicts:
              type: array
              description: >
                Zwei Fahrten **derselben Kette** sollen verschiedene Nummern bekommen. Sequenziell
                geschrieben ueberschrieben sie sich gegenseitig, also wird die ganze Kette nicht
                geschrieben. Dieselbe Nummer mehrfach auf einer Kette ist **kein** Konflikt — das
                ist der Normalfall eines zyklischen Musters.
              items:
                type: object
                properties:
                  numbers:
                    type: array
                    items: { type: string }
                  chain_trip_ids:
                    type: array
                    items: { type: integer }
                  trips:
                    type: array
                    items: { $ref: '#/components/schemas/StopLinkTrip' }
                  reason: { type: string }
            warnings:
              type: array
              items:
                type: object
                required: [code, message]
                properties:
                  code:
                    type: string
                    enum: [number_style_mismatch, course_empty_after]
                    description: >
                      `number_style_mismatch`: Die Version traegt bereits Kurse mit anderer
                      Nullpolsterung (`03` gegen `3`) — es entstuenden zwei Kurse, die fuer den
                      Menschen derselbe sind. `course_empty_after`: Nach `clear` bleibt ein Kurs
                      ohne jede Fahrt zurueck; er meldet sich dann in beiden Uebersichten als
                      `duplicate`. Geloescht wird er **nicht** — dafuer gibt es
                      `DELETE /api/v1/admin/courses/{course}`.
                  message: { type: string }

    StopGroupStop:
      type: object
      required: [id, name, assigned_via]
      properties:
        id: { type: integer, description: '`consolidated_stops.id`' }
        name: { type: string }
        assigned_via:
          type: string
          enum: [auto, manual]
          description: >
            `manual` ist keine Herkunftsnotiz, sondern eine **Sperre**: Der Namensabgleich
            fasst eine von Hand gesetzte Zuordnung nicht an. Ohne sie waere jede Pflege beim
            naechsten Import wieder verloren.
        lat: { type: number }
        lon: { type: number }
        ending_lines: { type: array, items: { type: string } }
        starting_lines: { type: array, items: { type: string } }

    StopGroup:
      type: object
      required: [id, name, created_via, stop_count, stops, is_terminus, one_sided]
      description: >
        Eine **Haltestelle** als Betriebspunkt: die Klammer um die Halte, die im Betrieb
        derselbe Ort sind — ueblicherweise die Richtungs-Bahnsteige (KURSE §2, K6).


        Noetig, weil die Konsolidierung Halte nur bei ≤ 12 m und gleichem Namen verschmilzt.
        An einer Endstelle liegen Ankunft und Abfahrt oft weiter auseinander: netzweit sind
        64 von 104 Endstellen so gebaut, das sind 54,6 % aller Fahrt-Endpunkte.
      properties:
        id: { type: integer }
        name: { type: string }
        created_via: { type: string, enum: [auto, manual] }
        note: { type: string, nullable: true }
        stop_count: { type: integer }
        stops:
          type: array
          items: { $ref: '#/components/schemas/StopGroupStop' }
        ending_lines: { type: array, items: { type: string } }
        starting_lines: { type: array, items: { type: string } }
        is_terminus:
          type: boolean
          description: Hier beginnt oder endet mindestens eine Fahrt — nur dort ist Umlauf-Pflege moeglich.
        one_sided:
          type: boolean
          description: >
            Es endet nur oder beginnt nur etwas. Meist der Hinweis, dass der Gegen-Bahnsteig
            noch als eigene Haltestelle gefuehrt wird — sonst eine echte Betriebsfahrt.
        manual_count: { type: integer }

    StopGroupSuggestion:
      type: object
      required: [id, name, distance_meters, stop_count]
      description: >
        Eine andere Haltestelle in Laufweite (Umkreis 350 m). Bewusst nur ein **Vorschlag**:
        Eine reine Abstandsregel wuerde an dichten Kreuzungen Falsches verschmelzen, und die
        weiteren Abstaende gehoeren zu echten Betriebsfahrten (`Suedring` → `Eiskellerplatz`,
        484 m). Der Mensch entscheidet.
      properties:
        id: { type: integer }
        name: { type: string }
        distance_meters: { type: integer }
        stop_count: { type: integer }

    StopGroupListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/StopGroup' }

    StopGroupDetailResponse:
      type: object
      required: [data]
      properties:
        data:
          allOf:
            - $ref: '#/components/schemas/StopGroup'
            - type: object
              properties:
                suggestions:
                  type: array
                  items: { $ref: '#/components/schemas/StopGroupSuggestion' }

    StopLinkStand:
      type: object
      required: [index, valid_from, valid_to, ranges, line_version_ids, line_count]
      description: >
        Ein **Versionsstand** am gewählten Halt: ein Zeitabschnitt, in dem sich an den hier
        beteiligten Linien-Versionen nichts ändert (KURSE §2, K5). Entsteht, indem der
        Perioden-Zeitraum an allen Intervallgrenzen der beteiligten Versionen zerschnitten und
        danach wieder verschmolzen wird, wo die Versionsmenge gleich bleibt.


        Ohne diesen Begriff wäre "Periode + Fahrplantyp" an einem Umsteigepunkt mehrdeutig:
        Linie 1 und Linie 13 können dort gleichzeitig auf verschiedenen Ständen stehen.
      properties:
        index: { type: integer, description: Laufende Nummer, chronologisch ab 0. }
        valid_from: { type: string, format: date, description: Erster Tag, an dem dieser Stand gilt. }
        valid_to: { type: string, format: date, description: Letzter Tag. }
        ranges:
          type: array
          description: >
            Die einzelnen Zeiträume. Ein Stand ist über seine **Versionsmenge** identifiziert,
            nicht über eine durchgehende Laufzeit — dieselbe Denkweise wie bei der Linien-Version
            selbst (FAHRPLANPERIODEN §5.4 a).


            Nötig wegen der Nachtlinien: Sie wechseln im `mo_fr`-Strang wöchentlich die Version,
            weil die Nacht von Sonntag auf Montag eine Sonntagnacht ist. Derselbe Stand gilt
            deshalb für alle Montage, ein anderer für alle Di–Fr-Blöcke. Ohne diese
            Zusammenfassung ergaben sich an Herrenkrug 16 Stände über vier Wochen.


            Die Zeiträume sind auf Tage des gewählten Fahrplantyps beschnitten: Ein Abschnitt,
            in den keiner fällt, erscheint gar nicht, und keiner beginnt an einem Tag, an dem
            der Fahrplan nicht gilt.
          items:
            type: object
            required: [valid_from, valid_to]
            properties:
              valid_from: { type: string, format: date }
              valid_to: { type: string, format: date }
        line_version_ids:
          type: array
          items: { type: integer }
        line_count: { type: integer }

    StopLinkDecision:
      type: object
      required: [id, kind]
      description: >
        Die an einer Fahrt getroffene Entscheidung. `null` bedeutet **noch nicht gepflegt** —
        das ist ausdrücklich etwas anderes als `start`/`end`, die eine bewusst offen gelassene
        Kette bezeichnen (Aus- bzw. Einrücken, Betriebsfahrt).
      properties:
        id: { type: integer, description: 'ID der `trip_links`-Zeile, zum Lösen.' }
        kind:
          type: string
          enum: [link, start, end]
        partner:
          allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }]
          nullable: true
          description: Nur bei `kind=link` gesetzt — die angeschlossene Gegenfahrt.
        turnaround_seconds:
          type: integer
          nullable: true
          description: >
            Wendezeit in Sekunden, nur bei `kind=link`. Gerechnet über Betriebstag-Sekunden,
            nicht lexikalisch — eine Ankunft um `24:50:00` und eine Abfahrt um `25:10:00`
            ergeben 1200.
        note: { type: string, nullable: true }

    StopLinkTrip:
      type: object
      required: [id, line, mode, version_no, start_stop, end_stop, departure_sort, arrival_sort]
      properties:
        id: { type: integer, description: '`consolidated_trips.id`' }
        line: { type: string }
        mode: { type: string, enum: [tram, bus, other] }
        version_no: { type: integer }
        line_version_id: { type: integer }
        start_stop: { type: string, nullable: true }
        end_stop: { type: string, nullable: true }
        departure_time:
          type: string
          nullable: true
          example: '24:50:00'
          description: GTFS-Wallclock des Betriebstags — Werte jenseits 24:00 sind gültig und gewollt.
        arrival_time: { type: string, nullable: true, example: '25:10:00' }
        departure_sort:
          type: integer
          description: >
            Sortierschluessel **entlang des Betriebstags**. Eine Zeit vor der Betriebstag-Grenze
            der Linie traegt 24 Stunden Aufschlag: Auf der N1 faehrt 22:49 vor 00:19, obwohl
            00:19 als Uhrzeit kleiner ist. Immer hiernach sortieren, nie nach der Uhrzeit —
            sonst stuende die halbe Nacht am Anfang (FAHRPLANPERIODEN §10).
        arrival_sort: { type: integer, description: Analog fuer die Ankunft. }
        course:
          type: object
          nullable: true
          description: Ab Etappe 2 gesetzt — der Kurs der Kette, zu der diese Fahrt gehört.
          properties:
            id: { type: integer }
            number: { type: string }
            display: { type: string, example: '13/03' }
        decision:
          allOf: [{ $ref: '#/components/schemas/StopLinkDecision' }]
          nullable: true

    StopLinkBoardResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [stop_group, period, day_type, stands, stand, ending, starting, open_count]
          properties:
            stop_group:
              type: object
              description: >
                Die Haltestelle samt ihrer einzelnen Bahnsteige. Die bleiben sichtbar: An einer
                Endstelle endet die eine Fahrt auf dem einen und beginnt die nächste auf dem
                anderen, und der Pflegende soll sehen, dass die Klammer das zusammenhält.
              required: [id, name, stops]
              properties:
                id: { type: integer }
                name: { type: string }
                stops:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: integer }
                      name: { type: string }
            period:
              type: object
              properties:
                id: { type: integer }
                label: { type: string }
                status: { type: string, enum: [current, frozen] }
            day_type: { $ref: '#/components/schemas/FahrplanTyp' }
            day_type_label: { type: string }
            stands:
              type: array
              items: { $ref: '#/components/schemas/StopLinkStand' }
            stand:
              allOf: [{ $ref: '#/components/schemas/StopLinkStand' }]
              nullable: true
              description: Der ausgewählte Stand; `null`, wenn am Halt keine Fahrten liegen.
            ending:
              type: array
              description: Fahrten, die an diesem Halt **enden**, nach Ankunft sortiert.
              items: { $ref: '#/components/schemas/StopLinkTrip' }
            starting:
              type: array
              description: Fahrten, die an diesem Halt **beginnen**, nach Abfahrt sortiert.
              items: { $ref: '#/components/schemas/StopLinkTrip' }
            open_count:
              type: integer
              description: Zahl der Fahrten ohne Entscheidung — der Pflegestand auf einen Blick.

    TripLinkRequest:
      type: object
      required: [kind]
      properties:
        kind:
          type: string
          enum: [link, start, end]
        from_trip_id:
          type: integer
          nullable: true
          description: Pflicht bei `kind=link` und `kind=end`, verboten bei `kind=start`.
        to_trip_id:
          type: integer
          nullable: true
          description: Pflicht bei `kind=link` und `kind=start`, verboten bei `kind=end`.
        note: { type: string, nullable: true, maxLength: 255 }

    TripLinkResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, kind, warnings]
          properties:
            id: { type: integer }
            kind: { type: string, enum: [link, start, end] }
            stop_id: { type: integer }
            from_trip: { allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }], nullable: true }
            to_trip: { allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }], nullable: true }
            turnaround_seconds: { type: integer, nullable: true }
            note: { type: string, nullable: true }
            course:
              allOf: [{ $ref: '#/components/schemas/Course' }]
              nullable: true
              description: >
                Der Kurs der Kette **nach** dem Anschluss. Zwei verknuepfte Fahrten sind dasselbe
                Fahrzeug, also derselbe Kurs: Trug eine Seite bereits eine Nummer, gilt sie jetzt
                fuer die ganze Kette (KURSE §2 K2). `null`, wenn keine Seite einen Kurs trug oder
                beide verschiedene tragen.
            course_trips_assigned:
              type: integer
              description: Auf wie viele Fahrten der Kurs dabei uebertragen wurde. 0 = nichts zu uebertragen.
            warnings:
              type: array
              description: >
                Hinweise, die die Verknuepfung **nicht** verhindern. `short_turnaround` bei einer
                Wendezeit unter `COURSE_MIN_TURNAROUND_MINUTES`, `line_change` beim Linienwechsel
                (ausdruecklich erlaubt, siehe KURSE §2 K1), `course_conflict`, wenn beide Ketten
                bereits **verschiedene** Kursnummern tragen — dann wird nichts ueberschrieben,
                weil nur der Pflegende weiss, welche die richtige ist.
              items:
                type: object
                required: [code, message]
                properties:
                  code: { type: string, enum: [short_turnaround, line_change, course_conflict] }
                  message: { type: string }

    AutoTripLinkResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [action, stop_group, day_type, filter, defaults, range, summary, skipped]
          properties:
            action:
              type: string
              enum: [link, unlink]
              description: >
                `link` legt Anschluesse nach FIFO an, `unlink` loest die Anschluesse im Bereich
                wieder auf. **Das Aufloesen fasst Kursnummern nicht an:** Die zerschnittene Kette
                zerfaellt in zwei Teile, die beide weiter dieselbe Nummer tragen — gewollt, weil
                die Zuordnung bewahrt und nicht geraten wird. Wer die Nummer auch los werden will,
                nutzt `action=clear` an `course-sequence`.
            stop_group:
              type: object
              properties:
                id: { type: integer }
                name: { type: string }
            period:
              type: object
              properties:
                id: { type: integer }
                label: { type: string }
                status: { type: string, enum: [current, frozen] }
            day_type: { $ref: '#/components/schemas/FahrplanTyp' }
            day_type_label: { type: string }
            stand:
              allOf: [{ $ref: '#/components/schemas/StopLinkStand' }]
              nullable: true
            filter:
              type: object
              description: >
                Der Lauf fasst **nur an, was der Filter zeigt** — das ist der Punkt der Funktion:
                Ein Linienwechsel 1 -> 13 ist manchmal Absicht und manchmal nicht, und nur der
                Pflegende weiss, welcher Fall vorliegt. Die Regel ist wortgleich zur Anzeige:
                `mode` muss passen, und `lines` ist leer oder enthaelt die Linie der Fahrt.
              properties:
                lines:
                  type: array
                  description: Leer = alle Linien der Haltestelle. Mehrfachauswahl ist der Regelfall.
                  items: { type: string }
                mode:
                  type: string
                  enum: [tram, bus]
                  nullable: true
                  description: Verkehrsmittel-Filter. Nicht zu verwechseln mit `action`.
                from_trip_id: { type: integer }
                to_trip_id: { type: integer }
                min_turnaround_seconds: { type: integer }
                max_turnaround_seconds: { type: integer }
                include_terminals:
                  type: boolean
                  description: >
                    Nur bei `action=unlink`: Auch Aus- und Einruecken loesen. Vorgabe `false` —
                    „Verbindungen aufloesen" meint die Anschluesse, und eine Betriebsfahrt ist
                    eine eigenstaendige Aussage, die nicht nebenbei verschwinden soll.
            defaults:
              type: object
              description: >
                Die konfigurierten Vorgabewerte (`COURSE_MIN_TURNAROUND_MINUTES`,
                `COURSE_MAX_TURNAROUND_MINUTES`), damit der Dialog sich daraus vorbelegen kann und
                die Konfiguration nur an einer Stelle steht.
              properties:
                min_turnaround_seconds: { type: integer }
                max_turnaround_seconds: { type: integer }
            range:
              type: object
              nullable: true
              description: >
                Der markierte Bereich der **linken Spalte** (endende Fahrten), **inklusive** beider
                Grenzen. Zugehoerigkeit ueber `arrival_sort`, bei Gleichstand ueber `id` — entlang
                des Betriebstags, nie nach der Uhrzeit. Verkehrt herum markiert wird getauscht.
                `null`, wenn eine Markierung nicht in der gefilterten Liste liegt; der Endpunkt
                antwortet dann mit 422.
              properties:
                from_trip: { $ref: '#/components/schemas/StopLinkTrip' }
                to_trip: { $ref: '#/components/schemas/StopLinkTrip' }
                trips: { type: integer, description: Endende Fahrten im Bereich, nach Filter. }
            summary:
              type: object
              properties:
                candidates: { type: integer }
                planned: { type: integer }
                created: { type: integer, description: Nur beim Anwenden belegt (`action=link`). }
                removed: { type: integer, description: Nur beim Anwenden belegt (`action=unlink`). }
                skipped: { type: integer }
                courses_unified:
                  type: integer
                  description: >
                    Fahrten, auf die dabei eine Kursnummer uebertragen wurde. Zwei verknuepfte
                    Fahrten sind dasselbe Fahrzeug, also derselbe Kurs (KURSE §2 K2).
                course_conflicts:
                  type: integer
                  description: >
                    Anschluesse, bei denen beide Ketten bereits **verschiedene** Nummern trugen.
                    Es wird nichts ueberschrieben, der Anschluss bleibt trotzdem bestehen — er ist
                    eine Aussage ueber das Fahrzeug, der Kurs nur sein Etikett.
                applied: { type: boolean, description: '`false` bei der Vorschau — sie ist garantiert folgenlos.' }
            pairs:
              type: array
              description: Nur bei `action=link`.
              items:
                type: object
                required: [from_trip, to_trip]
                properties:
                  from_trip: { $ref: '#/components/schemas/StopLinkTrip' }
                  to_trip: { $ref: '#/components/schemas/StopLinkTrip' }
                  turnaround_seconds: { type: integer, nullable: true }
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code: { type: string, enum: [short_turnaround, line_change] }
                        message: { type: string }
                  course:
                    allOf: [{ $ref: '#/components/schemas/Course' }]
                    nullable: true
                  course_trips_assigned: { type: integer }
                  course_conflict: { type: boolean }
            removals:
              type: array
              description: Nur bei `action=unlink`.
              items:
                type: object
                required: [trip_link_id, kind]
                properties:
                  trip_link_id: { type: integer }
                  kind: { type: string, enum: [link, start, end] }
                  from_trip: { allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }], nullable: true }
                  to_trip: { allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }], nullable: true }
                  turnaround_seconds: { type: integer, nullable: true }
                  partner_outside_range:
                    type: boolean
                    description: >
                      Die Gegenfahrt liegt ausserhalb des markierten Bereichs. Geloest wird
                      trotzdem: Ein Anschluss steht in der Zeile seiner **endenden** Fahrt, und
                      geloest wird, was man markiert sieht.
            skipped:
              type: array
              items:
                type: object
                required: [side, trip, reason_code, reason]
                properties:
                  side: { type: string, enum: [ending, starting] }
                  trip: { $ref: '#/components/schemas/StopLinkTrip' }
                  partner:
                    allOf: [{ $ref: '#/components/schemas/StopLinkTrip' }]
                    nullable: true
                    description: Bei einer Ablehnung der gepruefte Kandidat.
                  reason_code:
                    type: string
                    enum:
                      [trip_decided, departure_decided, no_partner, not_decided, terminal_decision,
                       same_trip, different_period, different_day_type, mode_change,
                       stop_group_mismatch, no_common_validity, cycle, negative_turnaround]
                    description: >
                      Die letzten acht sind die Gruende, aus denen ein Anschluss unzulaessig ist —
                      dieselben, die der Einzelklick mit 422 abweist. Im Lauf brechen sie nichts
                      ab, sondern ueberspringen eine Zeile.


                      `negative_turnaround` trifft am Morgen regelmaessig den Uebergang vom Nacht-
                      auf das Tagnetz: Jede Seite traegt die Betriebstag-Grenze **ihrer eigenen**
                      Linie, eine N1-Ankunft um 05:00 sortiert deshalb hinter eine Abfahrt der
                      Linie 1 um 05:20. Kein Fehler dieser Funktion, aber der Grund, warum Nacht-
                      und Taglinien selten gemeinsam im Filter stehen sollten.
                  reason: { type: string }

    TimetableRow:
      type: object
      required: [position, stop_id, stop_name, repeat_index]
      description: >
        Eine Zeile der Fahrplan-Matrix. Die Zeile ist eine **Position in der Haltefolge**, nicht
        eine Halt-Identität: 1.022 der 18.193 Fahrten berühren denselben Halt zweimal
        (Wendeschleifen, Stichabstecher — die Steige sind im Konsolidat verschmolzen,
        FAHRPLANPERIODEN §5.1). Derselbe `stop_id` kann deshalb mehrfach vorkommen,
        unterschieden über `repeat_index`.
      properties:
        position: { type: integer, description: Nullbasierter Zeilenindex. }
        stop_id: { type: integer, description: '`consolidated_stops.id`' }
        stop_name: { type: string }
        repeat_index:
          type: integer
          description: 0 beim ersten Vorkommen dieses Halts auf dem Laufweg, 1 beim zweiten.

    TimetableTrip:
      type: object
      required: [id, signature, mode, cells]
      properties:
        id: { type: integer }
        signature:
          type: string
          description: SHA256 über Linie, Fahrplantyp und Abfahrts-Zeitsequenz — stabil über Feed-Builds hinweg.
        mode: { type: string }
        departure_time: { type: string, nullable: true, example: '07:00:00' }
        arrival_time: { type: string, nullable: true, example: '07:25:00' }
        cells:
          type: array
          description: >
            Zeiten als `HH:MM`, **positionsgleich zu `rows`**. `null` heißt: Diese Fahrt bedient
            die Zeile nicht (Kurzläufer, abweichende Variante). Stunden über 24 bleiben erhalten
            (`25:10`) — GTFS-Zeiten sind Netz-Lokalzeit relativ zum Betriebstag und werden **nicht**
            in eine Zeitzone umgerechnet.
          items: { type: string, nullable: true }

    TimetableDirection:
      type: object
      required: [key, start_stop, end_stop, trip_count, variant_count, alignment_warning, rows, trips]
      properties:
        key: { type: string, description: 'Stabiler Schlüssel `<first_stop_id>>><last_stop_id>`.' }
        start_stop: { type: string }
        end_stop: { type: string }
        trip_count: { type: integer }
        variant_count:
          type: integer
          description: >
            Zahl verschiedener Haltefolgen in dieser Richtung. Über 1 heißt: Kurzläufer oder
            Umleitungen wurden auf eine gemeinsame Zeilenachse ausgerichtet. Netzweit trifft das
            58 von 965 Richtungen, mit bis zu sieben Varianten.
        alignment_warning:
          type: boolean
          description: >
            `true`, wenn die ausgerichtete Achse mehr als das 1,5-fache der längsten Einzelvariante
            umfasst — dann sind die Varianten so verschieden, dass eine gemeinsame Tabelle in die
            Irre führen kann. Am Produktivbestand tritt das derzeit **nirgends** auf (schlechtester
            Wert 1,29).
        rows:
          type: array
          items: { $ref: '#/components/schemas/TimetableRow' }
        trips:
          type: array
          items: { $ref: '#/components/schemas/TimetableTrip' }

    TimetableResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [line_version, period, directions]
          properties:
            line_version:
              allOf:
                - $ref: '#/components/schemas/LineVersion'
                - type: object
                  properties:
                    trip_count: { type: integer }
            period: { $ref: '#/components/schemas/SchedulePeriod' }
            directions:
              type: array
              description: Nach Fahrtenzahl absteigend.
              items: { $ref: '#/components/schemas/TimetableDirection' }

    DiffTrip:
      type: object
      required: [id, signature, start_stop, end_stop, stop_count]
      properties:
        id: { type: integer }
        signature: { type: string }
        start_stop: { type: string }
        end_stop: { type: string }
        departure_time: { type: string, nullable: true }
        arrival_time: { type: string, nullable: true }
        stop_count: { type: integer }

    DiffStopRow:
      type: object
      required: [stop_name, status]
      description: Eine Zeile des Halt-für-Halt-Vergleichs zweier gepaarter Fahrten.
      properties:
        stop_id: { type: integer, nullable: true }
        stop_name: { type: string }
        from_time: { type: string, nullable: true }
        to_time: { type: string, nullable: true }
        delta_seconds:
          type: integer
          nullable: true
          description: '`to` minus `from`; nur gesetzt, wenn beide Seiten den Halt bedienen.'
        status:
          type: string
          enum: [equal, shifted, only_from, only_to]

    DiffPair:
      type: object
      required: [reason, uniform_shift, from_trip, to_trip]
      properties:
        reason:
          type: string
          enum: [time, route, time_and_route]
          description: >
            `time` = nur die Zeiten haben sich verschoben, `route` = der Laufweg hat sich geändert,
            `time_and_route` = beides.
          
        shift_seconds:
          type: integer
          nullable: true
          description: Versatz am ersten gemeinsamen Halt — das, was man als „fährt eine Minute später" liest.
        uniform_shift:
          type: boolean
          description: Alle gemeinsamen Halte sind um denselben Betrag verschoben (der häufige Fall).
        from_trip: { $ref: '#/components/schemas/DiffTrip' }
        to_trip: { $ref: '#/components/schemas/DiffTrip' }
        stops:
          type: array
          description: Nur bei `include=stops`.
          items: { $ref: '#/components/schemas/DiffStopRow' }

    LineVersionDiffResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [from, to, summary, changed, added, removed]
          properties:
            from: { $ref: '#/components/schemas/LineVersion' }
            to: { $ref: '#/components/schemas/LineVersion' }
            summary:
              type: object
              properties:
                unchanged: { type: integer }
                changed: { type: integer }
                added: { type: integer }
                removed: { type: integer }
                from_trip_count: { type: integer }
                to_trip_count: { type: integer }
            changed:
              type: array
              items: { $ref: '#/components/schemas/DiffPair' }
            added:
              type: array
              items: { $ref: '#/components/schemas/DiffTrip' }
            removed:
              type: array
              items: { $ref: '#/components/schemas/DiffTrip' }

    LineVersionsResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [period, lines]
          properties:
            period:
              allOf: [{ $ref: '#/components/schemas/SchedulePeriod' }]
              nullable: true
            coverage:
              type: object
              nullable: true
              description: Vom Konsolidat abgedeckter Zeitraum über alle Versionen.
              properties:
                from: { type: string, format: date, nullable: true }
                to: { type: string, format: date, nullable: true }
                confirmed_boundaries: { type: integer }
                open_boundaries: { type: integer }
            lines:
              type: array
              items:
                type: object
                required: [line, versions]
                properties:
                  line: { type: string }
                  versions:
                    type: array
                    items: { $ref: '#/components/schemas/LineVersion' }

    LineTripItem:
      type: object
      required: [trip_id, service_id]
      properties:
        trip_id: { type: string }
        service_id: { type: string }
        departure_time: { type: string, nullable: true, description: "Abfahrt am Starthalt (GTFS-Lokalzeit HH:MM:SS, kann >24h sein)" }
        arrival_time: { type: string, nullable: true, description: "Ankunft am Zielhalt (GTFS-Lokalzeit)" }
        day_pattern:
          type: string
          nullable: true
          description: >
            Wöchentlich wiederkehrende Verkehrstage in Kurzform ("Mo-Fr", "Sa, So",
            "täglich"), aus dem GTFS-Wochenmuster (calendar) der service_id abgeleitet.
            Null, wenn die Fahrt kein Wochenmuster hat — dann verkehrt sie ausschließlich
            an den Einzelterminen in service_dates.
          example: Mo-Fr
        service_dates:
          type: array
          items: { type: string, format: date }
          description: >
            Einzeltermine der Fahrt (calendar_dates, exception_type 1) als reine
            Kalenderdaten — nur gefüllt, wenn day_pattern null ist. Bei gtfs.de kommen
            Services ohne jede calendar-Zeile regelmäßig vor; für sie ist das die einzige
            Auskunft über die Verkehrstage. Zusätzliche Einzeltermine oberhalb eines
            vorhandenen Wochenmusters werden hier nicht ausgewiesen.
          example: ['2026-08-16']
        mode:
          type: string
          enum: [tram, bus, other]
          description: >
            Verkehrsmittel dieser Fahrt, abgeleitet aus dem route_type ihrer GTFS-Route.
            Relevant, wenn eine Linienbezeichnung auf mehrere Routen zeigt — siehe modes.
          example: tram

    LineTripGroup:
      type: object
      required: [start_stop, end_stop, trip_count, trips]
      properties:
        start_stop: { type: string }
        end_stop: { type: string }
        trip_count: { type: integer }
        trips:
          type: array
          items: { $ref: '#/components/schemas/LineTripItem' }

    LineTripsResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [line, trip_count, groups]
          properties:
            line: { type: string }
            trip_count: { type: integer }
            day_type:
              type: string
              nullable: true
              enum: [mo_fr, mo_fr_ferien, sa, so_feiertag, null]
              description: Angeforderter Fahrplantyp; null = ungefiltert (alle Fahrten).
            day_type_label: { type: string, nullable: true, description: 'Anzeigename des Fahrplantyps, z. B. "Mo-Fr".' }
            reference_date:
              type: string
              format: date
              nullable: true
              description: >
                Stichtag, über den der Fahrplantyp aufgelöst wurde. Gewählt wird der Tag mit
                der häufigsten Service-Zusammensetzung unter allen Tagen dieses Typs im
                Feed-Fenster (bei Gleichstand der frühere) — nicht der erste passende Tag,
                weil Umbrüche wie Ferienende oder das Ende eines Schienenersatzverkehrs
                typischerweise am Fensteranfang liegen und diesen Tag untypisch machen.
                Null bei ungefilterter Abfrage oder wenn der Feed keinen Tag dieses Typs
                abdeckt (dann ist groups leer).
            modes:
              type: array
              items: { type: string, enum: [tram, bus, other] }
              description: >
                Alle in der Antwort vorkommenden Verkehrsmittel, alphabetisch. Mehr als
                ein Eintrag bedeutet, dass die Linienbezeichnung auf mehrere GTFS-Routen
                zeigt — etwa bei einem Schienenersatzverkehr, der dieselbe Nummer als Bus
                führt (N2 im Feed vom 17.08.2026: Tram ab 18.08., Bus 15.–17.08.). Dann
                erst ist mode je Fahrt eine nötige Unterscheidung.
              example: ['bus', 'tram']
            groups:
              type: array
              items: { $ref: '#/components/schemas/LineTripGroup' }

paths:
  /api/v1/lines:
    get:
      operationId: listLines
      summary: Alle MVB-Linien (Tram + Bus)
      description: >
        Öffentliche Stammdaten — kein Auth im MVP.


        Vorgabe ist das **Konsolidat**: alle Linien, für die dauerhafte Fahrten vorliegen.
        `route_ids` ist dort leer — GTFS-Route-IDs gehören zum Roh-Bestand und werden pro Build
        neu vergeben. Mit `?source=raw` antwortet der Endpunkt aus dem letzten Import, samt
        `route_ids`.
      tags: [Stammdaten]
      parameters:
        - name: source
          in: query
          required: false
          schema: { $ref: '#/components/schemas/ScheduleSource' }
      responses:
        '200':
          description: Liste aller Linien
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineListResponse' }
        '422':
          description: Unbekannte source
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/lines/{line}/trips:
    get:
      operationId: listLineTrips
      summary: Fahrten einer Linie, gruppiert nach Starthaltestelle → Zielhaltestelle
      description: >
        Alle Fahrten der Linie, gruppiert nach erstem und letztem Halt (Richtung/Variante).
        Innerhalb einer Gruppe nach Abfahrtszeit sortiert. Öffentliche Stammdaten — kein Auth.


        Ohne day_type enthält die Antwort alle Fahrten aller Betriebstage — dieselbe
        Abfahrtszeit kann dann mehrfach erscheinen (z. B. je einmal im Werktags- und im
        Sonntagsfahrplan). Das Feld day_pattern je Fahrt schlüsselt das auf; day_type
        filtert auf genau einen Betriebstag-Typ.
      tags: [Stammdaten]
      parameters:
        - name: line
          in: path
          required: true
          description: Linienbezeichnung (route_short_name), z. B. "1" oder "73".
          schema: { type: string }
        - name: day_type
          in: query
          required: false
          description: >
            Auf einen Fahrplantyp einschränken. Aufgelöst über einen Stichtag im
            Gültigkeitsfenster des Feeds (siehe reference_date in der Antwort).
            Deckt der Feed keinen Tag dieses Typs ab, ist groups leer.
          schema: { $ref: '#/components/schemas/FahrplanTyp' }
        - name: source
          in: query
          required: false
          description: >
            Aus dem Konsolidat (Vorgabe) trägt jede Fahrt ihre `version_no` und deren beobachtete
            Gültigkeit (`validity`) statt der Roh-Begriffe `day_pattern`/`service_dates`;
            `reference_date` ist dann `null`, weil kein Stichtag nötig ist.
          schema: { $ref: '#/components/schemas/ScheduleSource' }
      responses:
        '200':
          description: Fahrten der Linie, gruppiert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineTripsResponse' }
        '422':
          description: Unbekannter day_type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/stops:
    get:
      operationId: listStops
      summary: Alle MVB-Haltestellen
      description: >
        Öffentliche Stammdaten — kein Auth im MVP. Nach Name sortiert.


        **Die Quelle bestimmt die Identität.** Aus dem Konsolidat (Vorgabe) ist eine Zeile ein
        **physischer Punkt** mit ganzzahliger `id`; namensgleiche Halte im Umkreis von 12 m sind
        zu einer Identität verschmolzen, Steige also bewusst zusammengefasst. Aus dem
        Roh-Bestand (`source=raw`) ist eine Zeile eine GTFS-`stop_id` — mehrere pro Name, pro
        Build neu vergeben. `meta.source` sagt, was geliefert wurde.
      tags: [Stammdaten]
      parameters:
        - name: source
          in: query
          required: false
          schema: { $ref: '#/components/schemas/ScheduleSource' }
      responses:
        '200':
          description: Liste aller Haltestellen — Form je nach `source`
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConsolidatedStopListResponse'
                  - $ref: '#/components/schemas/StopListResponse'
        '422':
          description: Unbekannte Quelle
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/trips:
    get:
      operationId: listTrips
      summary: Fahrten nach Betriebstag, Linie und Haltestelle filtern
      description: >
        Liefert gefilterte Fahrten als Matching-Vorbereitung (SPEC §3.2, Stufen 1–3).
        Alle Filter sind optional und werden mit UND verknüpft. Der zeitliche
        Feinfilter (time=, ±Zeitfenster) folgt erst in I-05.


        **Die Quelle bestimmt Reichweite und Antwortform.** Aus dem Konsolidat (Vorgabe) ist
        jedes je beobachtete Datum abfragbar — auch ein Baustellenfahrplan, den der aktuelle
        Feed längst nicht mehr enthält; die Fahrten tragen `signature` und `version_no`. Aus
        dem Roh-Bestand (`source=raw`) sind nur Tage des aktuellen Feed-Fensters beantwortbar;
        die Fahrten tragen `trip_id`, `service_id` und `block_id`. `meta.source` sagt, was
        geliefert wurde.


        Ein Datum, das in keinem beobachteten Intervall liegt, liefert eine **leere** Liste —
        nicht den zuletzt bekannten Fahrplan.
      tags: [Stammdaten]
      parameters:
        - name: date
          in: query
          required: false
          description: >
            Betriebstag im Format YYYY-MM-DD. Im Konsolidat bestimmt er Fahrplantyp und gültige
            Version, im Roh-Bestand die an diesem Tag gültigen `service_id`s.
          schema: { type: string, format: date }
        - name: line
          in: query
          required: false
          description: Linienbezeichnung (route_short_name), z.B. "1" oder "73".
          schema: { type: string }
        - name: stop
          in: query
          required: false
          description: >
            Haltestelle, die die Fahrt bedienen muss. **Achtung:** im Konsolidat eine
            `consolidated_stops.id` (Ganzzahl), im Roh-Bestand eine GTFS-`stop_id`.
          schema: { type: string }
        - name: source
          in: query
          required: false
          schema: { $ref: '#/components/schemas/ScheduleSource' }
      responses:
        '200':
          description: Gefilterte Fahrten-Liste — Form je nach `source`
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConsolidatedTripListResponse'
                  - $ref: '#/components/schemas/TripListResponse'
        '422':
          description: Ungültiger Filter (z.B. falsches Datumsformat)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }


  /api/v1/admin/login:
    post:
      operationId: adminLogin
      summary: Admin-Login (Single-Admin), gibt Sanctum-Token zurück
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminLoginRequest' }
      responses:
        '200':
          description: Login erfolgreich
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAuthResponse' }
        '401':
          description: Ungültige Zugangsdaten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Validierungsfehler
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/logout:
    post:
      operationId: adminLogout
      summary: Aktuellen Admin-Token widerrufen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '204':
          description: Token widerrufen
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/me:
    get:
      operationId: adminMe
      summary: Angemeldeten Admin abfragen
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Admin-Daten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/line-versions:
    get:
      operationId: listLineVersions
      summary: Fahrplan-Versionen je Linie und Betriebstag-Typ
      description: >
        Die Änderungshistorie des Fahrplans aus dem Konsolidat (FAHRPLANPERIODEN §5.4):
        je Linie und Fahrplantyp die beobachteten Versionen mit ihren Gültigkeits-Intervallen.


        Eine Version ist über ihren Fingerprint identifiziert — kehrt eine Linie nach einer
        Baustelle zum alten Fahrplan zurück, erscheint dieselbe Version mit einem weiteren
        Intervall statt einer neuen. Grenzen sind nur dann `confirmed`, wenn der Wechsel
        innerhalb eines Feed-Fensters beobachtet wurde; an der Fensterkante sind sie
        Untergrenzen.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: line
          in: query
          required: false
          description: Auf eine Linienbezeichnung einschränken.
          schema: { type: string }
        - name: day_type
          in: query
          required: false
          description: Auf einen Fahrplantyp einschränken.
          schema: { $ref: '#/components/schemas/FahrplanTyp' }
        - name: period
          in: query
          required: false
          description: >
            `schedule_periods.id`. Ohne Angabe die **laufende** Periode; beginnt die Kette
            erst in der Zukunft, die jüngste. Auch eine eingefrorene Periode ist erlaubt —
            sonst wäre die gesamte Historie vor einem Periodenwechsel unerreichbar.
          schema: { type: integer }
      responses:
        '200':
          description: Versionen der gewählten Periode
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineVersionsResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Unbekannte Periode oder unbekannter day_type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/coverage:
    get:
      operationId: getCoverage
      summary: Abdeckung des Konsolidats
      description: >
        Für welche Zeiträume gibt das Konsolidat den Fahrplan wirklich her — und wo klaffen
        Lücken (FAHRPLANPERIODEN Phase C)?


        **Abgedeckt heißt: mit Inhalt.** Eine Linien-Version belegt nur, *dass* an diesen Tagen
        ein bestimmter Fahrplan galt; abrufbar ist er erst mit konsolidierten Fahrten. Versionen
        ohne Inhalt zählen deshalb nicht als Abdeckung, sondern werden als
        `versions_without_content` ausgewiesen.


        Abschnitte und Lücken sind **fahrplantyp-bezogen**: Zwischen zwei Samstagen liegen sechs
        Tage ohne Samstag — für den `sa`-Strang ist das lückenlose Abdeckung, keine Unterbrechung.
        Eine Lücke wird nur gemeldet, wenn dort tatsächlich Tage dieses Typs fehlen, etwa nach
        einem ausgefallenen Import.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      responses:
        '200':
          description: Abdeckung je Linie und Fahrplantyp
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CoverageResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/line-version-diff:
    get:
      operationId: getLineVersionDiff
      summary: Zwei Linien-Versionen vergleichen
      description: >
        Was unterscheidet zwei Fahrplan-Versionen derselben Linie und desselben Fahrplantyps?
        Die Versionen-Ansicht zeigt, **dass** ein Wechsel stattfand; dieser Endpunkt zeigt, **welche
        Fahrten** betroffen sind.


        **Verfahren.** Eine Version ist definiert als die sortierte Menge ihrer Fahrt-Signaturen —
        der Vergleich beginnt deshalb als Multiset-Abgleich dieser Signaturen. Fahrten mit gleicher
        Signatur gelten als unverändert.


        Die Signatur enthält allerdings **keine Halte** und nur Minuten
        (`SHA(Linie | Fahrplantyp | HH:MM-Abfahrtssequenz)`). Ein reiner Laufweg-Wechsel bei
        gleichen Zeiten erschiene damit als „unverändert" — deshalb werden gepaarte Signaturen
        zusätzlich auf gleiche Haltefolge geprüft und bei Abweichung zu *geändert* herabgestuft
        (`reason: route`).


        Was danach übrig bleibt, wird nach Start- und Zielhalt gebündelt und innerhalb dieser
        Bündel nach nächstgelegener Abfahrtszeit gepaart. Über einer Stunde Abstand wird nicht mehr
        gepaart — dann sind es eine entfallene und eine neue Fahrt, keine verschobene. Der am
        Produktivbestand gemessene Extremfall liegt bei 43 Minuten.


        Beide Versionen müssen dieselbe Linie und denselben Fahrplantyp tragen; sonst 422.


        **Die Periode darf abweichen** (seit 21.09.2026). An der Periodengrenze ist der Vergleich
        am aussagekräftigsten: Die letzte Version der alten und Version 1 der neuen Periode folgen
        unmittelbar aufeinander. Weil `version_no` je Periode wieder bei 1 beginnt, trägt jede
        Version in der Antwort ihre Periode mit.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: from
          in: query
          required: true
          description: '`line_versions.id` der älteren Version.'
          schema: { type: integer }
        - name: to
          in: query
          required: true
          schema: { type: integer }
        - name: include
          in: query
          required: false
          description: '`stops` ergänzt je geänderter Fahrt den Halt-für-Halt-Vergleich.'
          schema: { type: string, enum: [stops] }
      responses:
        '200':
          description: Unterschied der beiden Versionen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineVersionDiffResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Unbekannte Version, identische IDs, oder verschiedene Linie/Fahrplantyp/Periode
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/lines/{line}/courses:
    parameters:
      - name: line
        in: path
        required: true
        description: Linienbezeichnung (`route_short_name`), z. B. "1" oder "N5".
        schema: { type: string }
    get:
      operationId: getLineCourses
      summary: Die Umlaeufe einer Linie im Ganzen
      description: >
        Je Kurs seine Fahrten in Fahrreihenfolge, die Stellen, an denen die Kette reisst, und
        die Fahrten dieser Linie, die noch zu keinem Umlauf gehoeren.


        **Ein Umlauf kann mehrere Linien umfassen** und erscheint dann bei jeder von ihnen — mit
        **allen** seinen Fahrten, auch denen der anderen Linien. Eine 1 wird in Sudenburg zur 13;
        wer den Umlauf pflegt, muss ihn ganz sehen.


        **`gap_before_seconds` und `linked_to_previous` gehoeren zusammen gelesen.** Ein grosser
        Abstand *mit* Anschluss ist eine lange Wende; ein Abstand *ohne* Anschluss ist eine
        gerissene Kette. Ein Umlauf muss keine durchgehende Kette sein: Loest man einen Anschluss
        in der Mitte, bleibt der Kurs an beiden Teilen haengen — gewollt, weil die Zuordnung
        bewahrt und nicht geraten wird.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: period
          in: query
          required: true
          schema: { type: integer }
        - name: day_type
          in: query
          required: true
          schema: { $ref: '#/components/schemas/FahrplanTyp' }
      responses:
        '200':
          description: Umlaeufe, Ketten und offene Fahrten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LineCourseOverviewResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Unbekannte Periode oder unbekannter Fahrplantyp
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/line-versions/{lineVersion}/course-carryover:
    parameters:
      - name: lineVersion
        in: path
        required: true
        description: Die **Ziel**-Version, auf die uebernommen wird.
        schema: { type: integer }
    get:
      operationId: previewCourseCarryover
      summary: Vorschau — was eine Uebernahme bewirken wuerde
      description: >
        **Garantiert folgenlos.** Bewusst ein eigener Endpunkt statt eines Schalters am POST: Wer
        die Vorschau aufruft, soll sich darauf verlassen koennen, dass nichts geschrieben wird.


        Der Import uebertraegt von sich aus **nichts** (KURSE §2 K4). Eine neue Version bedeutet
        geaenderte Zeiten; ob ein Anschluss das ueberlebt, haengt an der Wendezeit — eine um zehn
        Minuten verschobene Abfahrt kann ihn unmoeglich machen. Eine stille Uebernahme schriebe
        solche Faelle fort.


        Was uebertragen wird: die **Kursnummer**, sobald es eine Partnerfahrt gibt (auch bei
        verschobener Zeit — eine andere Zeit macht keinen anderen Umlauf); **Aus- und Einruecken**,
        weil sie an einer Fahrt allein haengen; und **Anschluesse innerhalb dieser Version**.
        Anschluesse auf eine andere Linie stehen unter `blocked`.


        Bereits gesetzte Pflege an der neuen Version gewinnt: Sie ist die juengere Aussage.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: from
          in: query
          required: true
          description: Die **Quell**-Version. Muss dieselbe Linie, denselben Fahrplantyp und dieselbe Periode tragen.
          schema: { type: integer }
      responses:
        '200':
          description: Was eine Uebernahme bewirken wuerde
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CourseCarryoverResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Unbekannte Quelle, identische Versionen, oder verschiedene Linie/Fahrplantyp/Periode
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    post:
      operationId: applyCourseCarryover
      summary: Uebernahme anwenden
      description: >
        Fuehrt aus, was die Vorschau angekuendigt hat, und antwortet in derselben Form — die
        Zahlen sind dann die tatsaechlich geschriebenen. **Mehrfach anwendbar:** Ein zweiter Lauf
        aendert nichts mehr, weil bereits gesetzte Pflege gewinnt.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from]
              properties:
                from: { type: integer }
      responses:
        '200':
          description: Uebernommen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CourseCarryoverResponse' }
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Unbekannte Quelle, identische Versionen, oder verschiedene Linie/Fahrplantyp/Periode
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/admin/line-versions/{lineVersion}/course-sequence:
    parameters:
      - name: lineVersion
        in: path
        required: true
        schema: { type: integer }
    get:
      operationId: previewCourseSequence
      summary: Vorschau — Kursnummern ueber einen Spaltenbereich fortschreiben oder entfernen
      description: >
        **Garantiert folgenlos.** Schreibt eine erkannte Nummernfolge ueber die markierten Spalten
        der Fahrplan-Matrix fort: Linie 6 faehrt die Kurse 1–8 in chronologischer Abfolge, und bei
        gleichbleibendem Takt laesst sich das logisch fortsetzen, statt jede Spalte einzeln zu
        tippen.


        **Gearbeitet wird je Richtung.** Nur dort stehen die Fahrten in der Reihenfolge, in der die
        Nummern umlaufen. Die Richtung ist kein Parameter — sie folgt aus `from_trip_id`; liegt
        `to_trip_id` in einer anderen, ist das ein 422. Die Spaltenreihenfolge ist die der Matrix
        (entlang des Betriebstags, nicht der Uhr).


        **Die Nummer gehoert der Kette, nicht der Fahrt** (KURSE §2 K2). Geplant wird deshalb je
        Kette, und eine Zuweisung zieht die ganze Kette mit — auch Fahrten der Gegenrichtung. Diese
        stehen unter `outside_range`, und `summary.trips_affected` ist groesser als
        `summary.columns`. Bei `action=clear` gilt dasselbe in die andere Richtung: `detach()`
        raeumt die ganze Kette ab.


        **Nie ueberschreiben.** Traegt eine Kette bereits einen anderen Kurs, wird sie uebersprungen
        (`already_assigned`); traegt sie genau die geplante Nummer, zaehlt das als `unchanged`. Ein
        zweiter Lauf ist damit folgenlos. Sollen zwei Fahrten **derselben** Kette verschiedene
        Nummern bekommen, wird die Kette gar nicht geschrieben (`conflicts`) — welche die richtige
        ist, weiss nur der Pflegende.
      tags: [Admin]
      security: [{ AdminToken: [] }]
      parameters:
        - name: from_trip_id
          in: query
          required: true
          description: Die markierte **Startspalte** (`consolidated_trips.id`).
          schema: { type: integer }
        - name: to_trip_id
          in: query
          required: true
          description: Die markierte **letzte Spalte**. Verkehrt herum markiert wird getauscht.
          schema: { type: integer }
        - name: action
          in: query
          required: false
          description: Vorgabe `assign`.
[...]
